In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave5 route split 3 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave5_route_split_3.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(10553616, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 145

In [7]:
lwk = wk[(wk['LINEID'] == '145')]

In [8]:
lwk.shape

(619606, 22)

In [9]:
# Drop Route 145 rows from wk
wk.drop(wk[wk['LINEID'] == '145'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_145_tripLeave5_sp3.csv', index=False)

## Route 83A

In [10]:
lwk = wk[(wk['LINEID'] == '83A')]

In [11]:
lwk.shape

(96115, 22)

In [12]:
# Drop Route 83A rows from wk
wk.drop(wk[wk['LINEID'] == '83A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_83A_tripLeave5_sp3.csv', index=False)

## Route 83

In [13]:
lwk = wk[(wk['LINEID'] == '83')]

In [14]:
lwk.shape

(337203, 22)

In [15]:
# Drop Route 83 rows from wk
wk.drop(wk[wk['LINEID'] == '83'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_83_tripLeave5_sp3.csv', index=False)

## Route 77A

In [16]:
lwk = wk[(wk['LINEID'] == '77A')]

In [17]:
lwk.shape

(324849, 22)

In [18]:
# Drop Route 77A rows from wk
wk.drop(wk[wk['LINEID'] == '77A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_77A_tripLeave5_sp3.csv', index=False)

## Route 38A

In [19]:
lwk = wk[(wk['LINEID'] == '38A')]

In [20]:
lwk.shape

(132009, 22)

In [21]:
# Drop Route 38A rows from wk
wk.drop(wk[wk['LINEID'] == '38A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_38A_tripLeave5_sp3.csv', index=False)

## Route 38

In [22]:
lwk = wk[(wk['LINEID'] == '38')]

In [23]:
lwk.shape

(184103, 22)

In [24]:
# Drop Route 38 rows from wk
wk.drop(wk[wk['LINEID'] == '38'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_38_tripLeave5_sp3.csv', index=False)

## Route 7A

In [25]:
lwk = wk[(wk['LINEID'] == '7A')]

In [26]:
lwk.shape

(234790, 22)

In [27]:
# Drop Route 7A rows from wk
wk.drop(wk[wk['LINEID'] == '7A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_7A_tripLeave5_sp3.csv', index=False)

## Route 7

In [28]:
lwk = wk[(wk['LINEID'] == '7')]

In [29]:
lwk.shape

(195217, 22)

In [30]:
# Drop Route 7 rows from wk
wk.drop(wk[wk['LINEID'] == '7'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_7_tripLeave5_sp3.csv', index=False)

## Route 123

In [31]:
lwk = wk[(wk['LINEID'] == '123')]

In [32]:
lwk.shape

(337515, 22)

In [33]:
# Drop Route 123 rows from wk
wk.drop(wk[wk['LINEID'] == '123'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_123_tripLeave5_sp3.csv', index=False)

## Route 4

In [34]:
lwk = wk[(wk['LINEID'] == '4')]

In [35]:
lwk.shape

(328971, 22)

In [36]:
# Drop Route 4 rows from wk
wk.drop(wk[wk['LINEID'] == '4'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_4_tripLeave5_sp3.csv', index=False)

## Route 40

In [37]:
lwk = wk[(wk['LINEID'] == '40')]

In [38]:
lwk.shape

(693118, 22)

In [39]:
# Drop Route 40 rows from wk
wk.drop(wk[wk['LINEID'] == '40'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_40_tripLeave5_sp3.csv', index=False)

## Route 26

In [40]:
lwk = wk[(wk['LINEID'] == '26')]

In [41]:
lwk.shape

(66202, 22)

In [42]:
# Drop Route 26 rows from wk
wk.drop(wk[wk['LINEID'] == '26'].index, inplace = True)

In [43]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3345,2018-08-26,7504301,1,7391,75300,75300,75300,75300,1000274,2018,...,20180826750430101,201808267504301,66,100,1,3699,6,1,0,21
3346,2018-08-26,7504301,2,493,75375,75375,75375,75375,1000274,2018,...,20180826750430102,201808267504301,66,100,1,3699,6,1,0,21
3347,2018-08-26,7504301,3,494,75433,75433,75433,75433,1000274,2018,...,20180826750430103,201808267504301,66,100,1,3699,6,1,0,21
3348,2018-08-26,7504301,4,495,75503,75503,75503,75503,1000274,2018,...,20180826750430104,201808267504301,66,100,1,3699,6,1,0,21
3349,2018-08-26,7504301,5,400,75559,75559,75559,75559,1000274,2018,...,20180826750430105,201808267504301,66,100,1,3699,6,1,0,21

In [44]:
wk.shape

(7003918, 22)

<h3>Send to CSV</h3>

In [45]:
# Send df to csv:
lwk.to_csv('v5_26_tripLeave5_sp3.csv', index=False)

## Route 66

In [46]:
lwk = wk[(wk['LINEID'] == '66')]

In [47]:
lwk.shape

(193519, 22)

In [48]:
# Drop Route 66 rows from wk
wk.drop(wk[wk['LINEID'] == '66'].index, inplace = True)

In [49]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3456,2018-08-26,7504312,1,3283,33300,33300,33300,33300,1000375,2018,...,20180826750431201,201808267504312,63,97,2,1658,6,1,0,9
3457,2018-08-26,7504312,2,3284,33338,33338,33338,33338,1000375,2018,...,20180826750431202,201808267504312,63,97,2,1658,6,1,0,9
3458,2018-08-26,7504312,3,3285,33416,33416,33416,33416,1000375,2018,...,20180826750431203,201808267504312,63,97,2,1658,6,1,0,9
3459,2018-08-26,7504312,4,7324,33462,33462,33462,33462,1000375,2018,...,20180826750431204,201808267504312,63,97,2,1658,6,1,0,9
3460,2018-08-26,7504312,5,5106,33557,33557,33557,33557,1000375,2018,...,20180826750431205,201808267504312,63,97,2,1658,6,1,0,9

In [50]:
wk.shape

(6810399, 22)

<h3>Send to CSV</h3>

In [51]:
# Send df to csv:
lwk.to_csv('v5_66_tripLeave5_sp3.csv', index=False)

## Continue v5_tripLeave5_route_split_4

In [52]:
# Send df to csv:
wk.to_csv('v5_tripLeave5_route_split_4.csv', index=False)