In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave1 route split 4 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave1_route_split_4.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(9231897, 22)

In [4]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-01-01,5956807,1,248,31200,31200,31200,31200,1932359,2018,...,20180101595680701,201801015956807,14,13,1,3399,0,0,0,9
1,2018-01-01,5956807,2,249,31232,31232,31232,31232,1932359,2018,...,20180101595680702,201801015956807,14,13,1,3399,0,0,0,9
2,2018-01-01,5956807,3,250,31291,31291,31291,31291,1932359,2018,...,20180101595680703,201801015956807,14,13,1,3399,0,0,0,9
3,2018-01-01,5956807,4,251,31325,31325,31325,31325,1932359,2018,...,20180101595680704,201801015956807,14,13,1,3399,0,0,0,9
4,2018-01-01,5956807,5,252,31378,31378,31378,31378,1932359,2018,...,20180101595680705,201801015956807,14,13,1,3399,0,0,0,9

In [5]:
wk.dtypes

DAYOFSERVICE       object
TRIPID              int64
PROGRNUMBER         int64
STOPPOINTID         int64
PLANNEDTIME_ARR     int64
PLANNEDTIME_DEP     int64
ACTUALTIME_ARR      int64
ACTUALTIME_DEP      int64
VEHICLEID           int64
year                int64
month               int64
day                 int64
id                  int64
trip_leave_id       int64
LINEID             object
num_lineID          int64
DIRECTION           int64
actual_duration     int64
dayOfWeek           int64
weekend             int64
rushHour            int64
actualARR_hour      int64
dtype: object

## Datatype Changes

In [6]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [7]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [8]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 14

In [9]:
lwk = wk[(wk['LINEID'] == '14')]

In [10]:
lwk.shape

(409768, 22)

In [11]:
# Drop Route 14 rows from wk
wk.drop(wk[wk['LINEID'] == '14'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_14_tripLeave1_sp4.csv', index=False)

## Route 102

In [12]:
lwk = wk[(wk['LINEID'] == '102')]

In [13]:
lwk.shape

(163965, 22)

In [14]:
# Drop Route 102 rows from wk
wk.drop(wk[wk['LINEID'] == '102'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_102_tripLeave1_sp4.csv', index=False)

## Route 40B

In [15]:
lwk = wk[(wk['LINEID'] == '40B')]

In [16]:
lwk.shape

(22302, 22)

In [17]:
# Drop Route 40B rows from wk
wk.drop(wk[wk['LINEID'] == '40B'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_40B_tripLeave1_sp4.csv', index=False)

## Route 40D

In [18]:
lwk = wk[(wk['LINEID'] == '40D')]

In [19]:
lwk.shape

(187000, 22)

In [20]:
# Drop Route 40D rows from wk
wk.drop(wk[wk['LINEID'] == '40D'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_40D_tripLeave1_sp4.csv', index=False)

## Route 220

In [21]:
lwk = wk[(wk['LINEID'] == '220')]

In [22]:
lwk.shape

(68170, 22)

In [23]:
# Drop Route 220 rows from wk
wk.drop(wk[wk['LINEID'] == '220'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_220_tripLeave1_sp4.csv', index=False)

## Route 75

In [24]:
lwk = wk[(wk['LINEID'] == '75')]

In [25]:
lwk.shape

(299596, 22)

In [26]:
# Drop Route 75 rows from wk
wk.drop(wk[wk['LINEID'] == '75'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_75_tripLeave1_sp4.csv', index=False)

## Route 29A

In [27]:
lwk = wk[(wk['LINEID'] == '29A')]

In [28]:
lwk.shape

(220684, 22)

In [29]:
# Drop Route 29A rows from wk
wk.drop(wk[wk['LINEID'] == '29A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_29A_tripLeave1_sp4.csv', index=False)

## Route 66A

In [30]:
lwk = wk[(wk['LINEID'] == '66A')]

In [31]:
lwk.shape

(71877, 22)

In [32]:
# Drop Route 66A rows from wk
wk.drop(wk[wk['LINEID'] == '66A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_66A_tripLeave1_sp4.csv', index=False)

## Route 26

In [33]:
lwk = wk[(wk['LINEID'] == '26')]

In [34]:
lwk.shape

(61014, 22)

In [35]:
# Drop Route 26 rows from wk
wk.drop(wk[wk['LINEID'] == '26'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_26_tripLeave1_sp4.csv', index=False)

## Route 66

In [36]:
lwk = wk[(wk['LINEID'] == '66')]

In [37]:
lwk.shape

(190797, 22)

In [38]:
# Drop Route 66 rows from wk
wk.drop(wk[wk['LINEID'] == '66'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_66_tripLeave1_sp4.csv', index=False)

## Route 7

In [39]:
lwk = wk[(wk['LINEID'] == '7')]

In [40]:
lwk.shape

(177661, 22)

In [41]:
# Drop Route 7 rows from wk
wk.drop(wk[wk['LINEID'] == '7'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_7_tripLeave1_sp4.csv', index=False)

## Route 7A

In [42]:
lwk = wk[(wk['LINEID'] == '7A')]

In [43]:
lwk.shape

(225676, 22)

In [44]:
# Drop Route 7A rows from wk
wk.drop(wk[wk['LINEID'] == '7A'].index, inplace = True)

In [45]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3063,2018-01-01,5957533,1,7591,37200,37200,37200,37200,1001072,2018,...,20180101595753301,201801015957533,130,12,1,1429,0,0,0,10
3064,2018-01-01,5957533,3,496,37300,37300,37300,37300,1001072,2018,...,20180101595753303,201801015957533,130,12,1,1429,0,0,0,10
3065,2018-01-01,5957533,4,7490,37317,37317,37317,37317,1001072,2018,...,20180101595753304,201801015957533,130,12,1,1429,0,0,0,10
3066,2018-01-01,5957533,5,515,37394,37394,37394,37394,1001072,2018,...,20180101595753305,201801015957533,130,12,1,1429,0,0,0,10
3067,2018-01-01,5957533,6,516,37439,37439,37439,37439,1001072,2018,...,20180101595753306,201801015957533,130,12,1,1429,0,0,0,10

In [46]:
wk.shape

(7133387, 22)

<h3>Send to CSV</h3>

In [47]:
# Send df to csv:
lwk.to_csv('v5_7A_tripLeave1_sp4.csv', index=False)

## Continue v5_tripLeave1_route_split_5

In [48]:
# Send df to csv:
wk.to_csv('v5_tripLeave1_route_split_5.csv', index=False)