In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave6 route split 3 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave6_route_split_3.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(10819760, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 9

In [7]:
lwk = wk[(wk['LINEID'] == '9')]

In [8]:
lwk.shape

(449663, 22)

In [9]:
# Drop Route 9 rows from wk
wk.drop(wk[wk['LINEID'] == '9'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_9_tripLeave6_sp3.csv', index=False)

## Route 16

In [10]:
lwk = wk[(wk['LINEID'] == '16')]

In [11]:
lwk.shape

(574890, 22)

In [12]:
# Drop Route 16 rows from wk
wk.drop(wk[wk['LINEID'] == '16'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_16_tripLeave6_sp3.csv', index=False)

## Route 15A

In [13]:
lwk = wk[(wk['LINEID'] == '15A')]

In [14]:
lwk.shape

(207877, 22)

In [15]:
# Drop Route 15A rows from wk
wk.drop(wk[wk['LINEID'] == '15A'].index, inplace = True)

In [16]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
1665,2018-09-09,8091183,1,7229,46800,46800,46800,46800,2693236,2018,...,20180909809118301,201809098091183,13,11,2,6554,6,1,0,13
1666,2018-09-09,8091183,2,4617,46924,46924,46924,46924,2693236,2018,...,20180909809118302,201809098091183,13,11,2,6554,6,1,0,13
1667,2018-09-09,8091183,3,4555,46945,46945,46945,46945,2693236,2018,...,20180909809118303,201809098091183,13,11,2,6554,6,1,0,13
1668,2018-09-09,8091183,4,4576,47029,47029,47029,47029,2693236,2018,...,20180909809118304,201809098091183,13,11,2,6554,6,1,0,13
1669,2018-09-09,8091183,5,3418,47094,47094,47094,47094,2693236,2018,...,20180909809118305,201809098091183,13,11,2,6554,6,1,0,13

In [17]:
wk.shape

(9587330, 22)

<h3>Send to CSV</h3>

In [18]:
# Send df to csv:
lwk.to_csv('v5_15A_tripLeave6_sp3.csv', index=False)

## Route 13

In [19]:
lwk = wk[(wk['LINEID'] == '13')]

In [20]:
lwk.shape

(433846, 22)

In [21]:
# Drop Route 13 rows from wk
wk.drop(wk[wk['LINEID'] == '13'].index, inplace = True)

In [22]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
2199,2018-09-09,8091244,1,4686,48600,48600,48600,48600,1001214,2018,...,20180909809124401,201809098091244,220,33,1,4576,6,1,0,14
2200,2018-09-09,8091244,2,4687,48620,48620,48620,48620,1001214,2018,...,20180909809124402,201809098091244,220,33,1,4576,6,1,0,14
2201,2018-09-09,8091244,3,102,48716,48716,48716,48716,1001214,2018,...,20180909809124403,201809098091244,220,33,1,4576,6,1,0,14
2202,2018-09-09,8091244,4,6239,48753,48753,48753,48753,1001214,2018,...,20180909809124404,201809098091244,220,33,1,4576,6,1,0,14
2203,2018-09-09,8091244,5,104,48819,48819,48819,48819,1001214,2018,...,20180909809124405,201809098091244,220,33,1,4576,6,1,0,14

In [23]:
wk.shape

(9153484, 22)

<h3>Send to CSV</h3>

In [24]:
# Send df to csv:
lwk.to_csv('v5_13_tripLeave6_sp3.csv', index=False)

## Route 220

In [25]:
lwk = wk[(wk['LINEID'] == '220')]

In [26]:
lwk.shape

(66067, 22)

In [27]:
# Drop Route 220 rows from wk
wk.drop(wk[wk['LINEID'] == '220'].index, inplace = True)

In [28]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
2751,2018-09-09,8091534,1,4525,30600,30600,30600,30600,2693287,2018,...,20180909809153401,201809098091534,122,9,1,2687,6,1,0,8
2752,2018-09-09,8091534,2,4526,30661,30661,30661,30661,2693287,2018,...,20180909809153402,201809098091534,122,9,1,2687,6,1,0,9
2753,2018-09-09,8091534,3,1700,30754,30754,30754,30754,2693287,2018,...,20180909809153403,201809098091534,122,9,1,2687,6,1,0,9
2754,2018-09-09,8091534,4,1701,30791,30791,30791,30791,2693287,2018,...,20180909809153404,201809098091534,122,9,1,2687,6,1,0,9
2755,2018-09-09,8091534,5,1702,30816,30816,30816,30816,2693287,2018,...,20180909809153405,201809098091534,122,9,1,2687,6,1,0,9

In [29]:
wk.shape

(9087417, 22)

<h3>Send to CSV</h3>

In [30]:
# Send df to csv:
lwk.to_csv('v5_220_tripLeave6_sp3.csv', index=False)

## Route 122

In [31]:
lwk = wk[(wk['LINEID'] == '122')]

In [32]:
lwk.shape

(318574, 22)

In [33]:
# Drop Route 122 rows from wk
wk.drop(wk[wk['LINEID'] == '122'].index, inplace = True)

In [34]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3791,2018-09-09,8091692,1,4747,34200,34200,34200,34200,1000480,2018,...,20180909809169201,201809098091692,17A,29,1,3107,6,1,0,10
3792,2018-09-09,8091692,2,7298,34436,34436,34436,34436,1000480,2018,...,20180909809169202,201809098091692,17A,29,1,3107,6,1,0,10
3793,2018-09-09,8091692,3,2294,34500,34500,34500,34500,1000480,2018,...,20180909809169203,201809098091692,17A,29,1,3107,6,1,0,10
3794,2018-09-09,8091692,4,6039,34618,34618,34618,34618,1000480,2018,...,20180909809169204,201809098091692,17A,29,1,3107,6,1,0,10
3795,2018-09-09,8091692,8,4976,34881,34881,34881,34881,1000480,2018,...,20180909809169208,201809098091692,17A,29,1,3107,6,1,0,10

In [35]:
wk.shape

(8768843, 22)

<h3>Send to CSV</h3>

In [36]:
# Send df to csv:
lwk.to_csv('v5_122_tripLeave6_sp3.csv', index=False)

## Route 17A

In [37]:
lwk = wk[(wk['LINEID'] == '17A')]

In [38]:
lwk.shape

(186874, 22)

In [39]:
# Drop Route 17A rows from wk
wk.drop(wk[wk['LINEID'] == '17A'].index, inplace = True)

In [40]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
4261,2018-09-09,8092088,1,288,66600,66600,66600,66600,1932322,2018,...,20180909809208801,201809098092088,41B,76,1,3018,6,1,0,18
4262,2018-09-09,8092088,2,1171,66653,66653,66653,66653,1932322,2018,...,20180909809208802,201809098092088,41B,76,1,3018,6,1,0,19
4263,2018-09-09,8092088,3,1172,66694,66694,66694,66694,1932322,2018,...,20180909809208803,201809098092088,41B,76,1,3018,6,1,0,19
4264,2018-09-09,8092088,4,1173,66753,66753,66753,66753,1932322,2018,...,20180909809208804,201809098092088,41B,76,1,3018,6,1,0,19
4265,2018-09-09,8092088,5,1174,66828,66828,66828,66828,1932322,2018,...,20180909809208805,201809098092088,41B,76,1,3018,6,1,0,19

In [41]:
wk.shape

(8581969, 22)

<h3>Send to CSV</h3>

In [42]:
# Send df to csv:
lwk.to_csv('v5_17A_tripLeave6_sp3.csv', index=False)

## Route 41B

In [43]:
lwk = wk[(wk['LINEID'] == '41B')]

In [44]:
lwk.shape

(19556, 22)

In [45]:
# Drop Route 41B rows from wk
wk.drop(wk[wk['LINEID'] == '41B'].index, inplace = True)

In [46]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
4358,2018-09-09,8092093,1,6285,29700,29700,29700,29700,1932331,2018,...,20180909809209301,201809098092093,15B,22,2,2819,6,1,0,8
4359,2018-09-09,8092093,2,6286,29728,29728,29728,29728,1932331,2018,...,20180909809209302,201809098092093,15B,22,2,2819,6,1,0,8
4360,2018-09-09,8092093,3,6287,29788,29788,29788,29788,1932331,2018,...,20180909809209303,201809098092093,15B,22,2,2819,6,1,0,8
4361,2018-09-09,8092093,4,6288,29823,29823,29823,29823,1932331,2018,...,20180909809209304,201809098092093,15B,22,2,2819,6,1,0,8
4362,2018-09-09,8092093,5,6342,29863,29863,29863,29863,1932331,2018,...,20180909809209305,201809098092093,15B,22,2,2819,6,1,0,8

In [47]:
wk.shape

(8562413, 22)

<h3>Send to CSV</h3>

In [48]:
# Send df to csv:
lwk.to_csv('v5_41B_tripLeave6_sp3.csv', index=False)

## Route 15B

In [49]:
lwk = wk[(wk['LINEID'] == '15B')]

In [50]:
lwk.shape

(328238, 22)

In [51]:
# Drop Route 15B rows from wk
wk.drop(wk[wk['LINEID'] == '15B'].index, inplace = True)

In [52]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
5149,2018-09-09,8092280,1,7662,34200,34200,34200,34200,3265666,2018,...,20180909809228001,201809098092280,47,88,1,2687,6,1,0,10
5150,2018-09-09,8092280,2,7564,34290,34290,34290,34290,3265666,2018,...,20180909809228002,201809098092280,47,88,1,2687,6,1,0,10
5151,2018-09-09,8092280,3,340,34380,34380,34380,34380,3265666,2018,...,20180909809228003,201809098092280,47,88,1,2687,6,1,0,10
5152,2018-09-09,8092280,4,350,34470,34470,34470,34470,3265666,2018,...,20180909809228004,201809098092280,47,88,1,2687,6,1,0,10
5153,2018-09-09,8092280,5,351,34545,34545,34545,34545,3265666,2018,...,20180909809228005,201809098092280,47,88,1,2687,6,1,0,10

In [53]:
wk.shape

(8234175, 22)

<h3>Send to CSV</h3>

In [54]:
# Send df to csv:
lwk.to_csv('v5_15B_tripLeave6_sp3.csv', index=False)

## Route 47

In [55]:
lwk = wk[(wk['LINEID'] == '47')]

In [56]:
lwk.shape

(91950, 22)

In [57]:
# Drop Route 47 rows from wk
wk.drop(wk[wk['LINEID'] == '47'].index, inplace = True)

In [58]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
6274,2018-09-09,8092382,1,2353,32400,32400,32400,32400,2172289,2018,...,20180909809238201,201809098092382,27,43,2,4907,6,1,0,9
6275,2018-09-09,8092382,2,4643,32442,32442,32442,32442,2172289,2018,...,20180909809238202,201809098092382,27,43,2,4907,6,1,0,9
6276,2018-09-09,8092382,3,4644,32492,32492,32492,32492,2172289,2018,...,20180909809238203,201809098092382,27,43,2,4907,6,1,0,9
6277,2018-09-09,8092382,4,4645,32524,32524,32524,32524,2172289,2018,...,20180909809238204,201809098092382,27,43,2,4907,6,1,0,9
6278,2018-09-09,8092382,5,4440,32557,32557,32557,32557,2172289,2018,...,20180909809238205,201809098092382,27,43,2,4907,6,1,0,9

In [59]:
wk.shape

(8142225, 22)

<h3>Send to CSV</h3>

In [60]:
# Send df to csv:
lwk.to_csv('v5_47_tripLeave6_sp3.csv', index=False)

## Route 27

In [61]:
lwk = wk[(wk['LINEID'] == '27')]

In [62]:
lwk.shape

(810336, 22)

In [63]:
# Drop Route 27 rows from wk
wk.drop(wk[wk['LINEID'] == '27'].index, inplace = True)

In [64]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
7103,2018-09-09,8092456,1,7564,34200,34200,34200,34200,2693210,2018,...,20180909809245601,201809098092456,65,98,1,6610,6,1,0,10
7104,2018-09-09,8092456,2,4521,34385,34385,34385,34385,2693210,2018,...,20180909809245602,201809098092456,65,98,1,6610,6,1,0,10
7105,2018-09-09,8092456,3,1283,34516,34516,34516,34516,2693210,2018,...,20180909809245603,201809098092456,65,98,1,6610,6,1,0,10
7106,2018-09-09,8092456,4,4456,34555,34555,34555,34555,2693210,2018,...,20180909809245604,201809098092456,65,98,1,6610,6,1,0,10
7107,2018-09-09,8092456,5,1284,34591,34591,34591,34591,2693210,2018,...,20180909809245605,201809098092456,65,98,1,6610,6,1,0,10

In [65]:
wk.shape

(7331889, 22)

<h3>Send to CSV</h3>

In [66]:
# Send df to csv:
lwk.to_csv('v5_27_tripLeave6_sp3.csv', index=False)

## Route 65

In [67]:
lwk = wk[(wk['LINEID'] == '65')]

In [68]:
lwk.shape

(115945, 22)

In [69]:
# Drop Route 65 rows from wk
wk.drop(wk[wk['LINEID'] == '65'].index, inplace = True)

In [70]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
7595,2018-09-09,8092550,3,7173,43244,43244,43244,43244,2693202,2018,...,20180909809255003,201809098092550,33,55,2,5848,6,1,0,12
7596,2018-09-09,8092550,4,3811,43272,43272,43272,43272,2693202,2018,...,20180909809255004,201809098092550,33,55,2,5848,6,1,0,12
7597,2018-09-09,8092550,5,3812,43299,43299,43299,43299,2693202,2018,...,20180909809255005,201809098092550,33,55,2,5848,6,1,0,12
7598,2018-09-09,8092550,6,3664,43321,43321,43321,43321,2693202,2018,...,20180909809255006,201809098092550,33,55,2,5848,6,1,0,12
7599,2018-09-09,8092550,7,3813,43455,43455,43455,43455,2693202,2018,...,20180909809255007,201809098092550,33,55,2,5848,6,1,0,12

In [71]:
wk.shape

(7215944, 22)

<h3>Send to CSV</h3>

In [72]:
# Send df to csv:
lwk.to_csv('v5_65_tripLeave6_sp3.csv', index=False)

## Route 33

In [73]:
lwk = wk[(wk['LINEID'] == '33')]

In [74]:
lwk.shape

(209863, 22)

In [75]:
# Drop Route 33 rows from wk
wk.drop(wk[wk['LINEID'] == '33'].index, inplace = True)

In [76]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
8274,2018-09-09,8092644,1,7574,27000,27000,27000,27000,2693281,2018,...,20180909809264401,201809098092644,145,16,2,5060,6,1,0,8
8275,2018-09-09,8092644,2,4177,27110,27110,27110,27110,2693281,2018,...,20180909809264402,201809098092644,145,16,2,5060,6,1,0,8
8276,2018-09-09,8092644,3,4178,27137,27137,27137,27137,2693281,2018,...,20180909809264403,201809098092644,145,16,2,5060,6,1,0,8
8277,2018-09-09,8092644,4,4179,27190,27190,27190,27190,2693281,2018,...,20180909809264404,201809098092644,145,16,2,5060,6,1,0,8
8278,2018-09-09,8092644,5,2993,27238,27238,27238,27238,2693281,2018,...,20180909809264405,201809098092644,145,16,2,5060,6,1,0,8

In [77]:
wk.shape

(7006081, 22)

<h3>Send to CSV</h3>

In [78]:
# Send df to csv:
lwk.to_csv('v5_33_tripLeave6_sp3.csv', index=False)

## Route 145

In [79]:
lwk = wk[(wk['LINEID'] == '145')]

In [80]:
lwk.shape

(682094, 22)

In [81]:
# Drop Route 145 rows from wk
wk.drop(wk[wk['LINEID'] == '145'].index, inplace = True)

In [82]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
9033,2018-09-09,8092685,1,300,46800,46800,46800,46800,2406899,2018,...,20180909809268501,201809098092685,27A,45,1,1718,6,1,0,13
9034,2018-09-09,8092685,2,496,46888,46888,46888,46888,2406899,2018,...,20180909809268502,201809098092685,27A,45,1,1718,6,1,0,13
9035,2018-09-09,8092685,3,7490,46905,46905,46905,46905,2406899,2018,...,20180909809268503,201809098092685,27A,45,1,1718,6,1,0,13
9036,2018-09-09,8092685,4,497,46929,46929,46929,46929,2406899,2018,...,20180909809268504,201809098092685,27A,45,1,1718,6,1,0,13
9037,2018-09-09,8092685,5,515,47009,47009,47009,47009,2406899,2018,...,20180909809268505,201809098092685,27A,45,1,1718,6,1,0,13

In [83]:
wk.shape

(6323987, 22)

<h3>Send to CSV</h3>

In [84]:
# Send df to csv:
lwk.to_csv('v5_145_tripLeave6_sp3.csv', index=False)

## Continue v5_tripLeave6_route_split_4

In [85]:
# Send df to csv:
wk.to_csv('v5_tripLeave6_route_split_4.csv', index=False)