In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave6 route split 2 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave6_route_split_2.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(13579302, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 14

In [7]:
lwk = wk[(wk['LINEID'] == '14')]

In [8]:
lwk.shape

(502575, 22)

In [9]:
# Drop Route 14 rows from wk
wk.drop(wk[wk['LINEID'] == '14'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_14_tripLeave6_sp2.csv', index=False)

## Route 123

In [10]:
lwk = wk[(wk['LINEID'] == '123')]

In [11]:
lwk.shape

(338431, 22)

In [12]:
# Drop Route 123 rows from wk
wk.drop(wk[wk['LINEID'] == '123'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_123_tripLeave6_sp2.csv', index=False)

## Route 75

In [13]:
lwk = wk[(wk['LINEID'] == '75')]

In [14]:
lwk.shape

(39348, 22)

In [15]:
# Drop Route 75 rows from wk
wk.drop(wk[wk['LINEID'] == '75'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_75_tripLeave6_sp2.csv', index=False)

## Route 54A

In [16]:
lwk = wk[(wk['LINEID'] == '54A')]

In [17]:
lwk.shape

(117449, 22)

In [18]:
# Drop Route 54A rows from wk
wk.drop(wk[wk['LINEID'] == '54A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_54A_tripLeave6_sp2.csv', index=False)

## Route 83

In [19]:
lwk = wk[(wk['LINEID'] == '83')]

In [20]:
lwk.shape

(375369, 22)

In [21]:
# Drop Route 83 rows from wk
wk.drop(wk[wk['LINEID'] == '83'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_83_tripLeave6_sp2.csv', index=False)

## Route 83A

In [22]:
lwk = wk[(wk['LINEID'] == '83A')]

In [23]:
lwk.shape

(105398, 22)

In [24]:
# Drop Route 83A rows from wk
wk.drop(wk[wk['LINEID'] == '83A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_83A_tripLeave6_sp2.csv', index=False)

## Route 18

In [25]:
lwk = wk[(wk['LINEID'] == '18')]

In [26]:
lwk.shape

(207290, 22)

In [27]:
# Drop Route 18 rows from wk
wk.drop(wk[wk['LINEID'] == '18'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_18_tripLeave6_sp2.csv', index=False)

## Route 45A

In [28]:
lwk = wk[(wk['LINEID'] == '45A')]

In [29]:
lwk.shape

(30454, 22)

In [30]:
# Drop Route 45A rows from wk
wk.drop(wk[wk['LINEID'] == '45A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_45A_tripLeave6_sp2.csv', index=False)

## Route 130

In [31]:
lwk = wk[(wk['LINEID'] == '130')]

In [32]:
lwk.shape

(304924, 22)

In [33]:
# Drop Route 130 rows from wk
wk.drop(wk[wk['LINEID'] == '130'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_130_tripLeave6_sp2.csv', index=False)

## Route 39

In [34]:
lwk = wk[(wk['LINEID'] == '39')]

In [35]:
lwk.shape

(274366, 22)

In [36]:
# Drop Route 39 rows from wk
wk.drop(wk[wk['LINEID'] == '39'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_39_tripLeave6_sp2.csv', index=False)

## Route 37

In [37]:
lwk = wk[(wk['LINEID'] == '37')]

In [38]:
lwk.shape

(312263, 22)

In [39]:
# Drop Route 37 rows from wk
wk.drop(wk[wk['LINEID'] == '37'].index, inplace = True)

In [40]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
5662,2018-09-09,8090797,2,3587,37843,37843,37843,37843,1932366,2018,...,20180909809079702,201809098090797,32,53,2,2533,6,1,0,11
5663,2018-09-09,8090797,3,3588,37872,37872,37872,37872,1932366,2018,...,20180909809079703,201809098090797,32,53,2,2533,6,1,0,11
5664,2018-09-09,8090797,4,3590,37893,37893,37893,37893,1932366,2018,...,20180909809079704,201809098090797,32,53,2,2533,6,1,0,11
5665,2018-09-09,8090797,5,3589,37932,37932,37932,37932,1932366,2018,...,20180909809079705,201809098090797,32,53,2,2533,6,1,0,11
5666,2018-09-09,8090797,6,3591,37961,37961,37961,37961,1932366,2018,...,20180909809079706,201809098090797,32,53,2,2533,6,1,0,11

In [41]:
wk.shape

(10971435, 22)

<h3>Send to CSV</h3>

In [42]:
# Send df to csv:
lwk.to_csv('v5_37_tripLeave6_sp2.csv', index=False)

## Route 32

In [43]:
lwk = wk[(wk['LINEID'] == '32')]

In [44]:
lwk.shape

(151675, 22)

In [45]:
# Drop Route 32 rows from wk
wk.drop(wk[wk['LINEID'] == '32'].index, inplace = True)

In [46]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
6473,2018-09-09,8090877,1,7132,37500,37500,37500,37500,2172274,2018,...,20180909809087701,201809098090877,9,129,1,3886,6,1,0,10
6474,2018-09-09,8090877,2,6230,37570,37570,37570,37570,2172274,2018,...,20180909809087702,201809098090877,9,129,1,3886,6,1,0,10
6475,2018-09-09,8090877,3,6228,37613,37613,37613,37613,2172274,2018,...,20180909809087703,201809098090877,9,129,1,3886,6,1,0,10
6476,2018-09-09,8090877,4,4788,37668,37668,37668,37668,2172274,2018,...,20180909809087704,201809098090877,9,129,1,3886,6,1,0,10
6477,2018-09-09,8090877,5,6273,37719,37719,37719,37719,2172274,2018,...,20180909809087705,201809098090877,9,129,1,3886,6,1,0,10

In [47]:
wk.shape

(10819760, 22)

<h3>Send to CSV</h3>

In [48]:
# Send df to csv:
lwk.to_csv('v5_32_tripLeave6_sp2.csv', index=False)

## Continue v5_tripLeave6_route_split_3

In [49]:
# Send df to csv:
wk.to_csv('v5_tripLeave6_route_split_3.csv', index=False)