In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave2 route split 9c CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave2_route_split_9c.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(65536, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [7]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-03-29,6595909,21,4465,25386,25386,25386,25386,1000198,2018,...,20180329659590921,201803296595909,102,1,2,1214,3,0,0,7
1,2018-03-29,6595909,22,944,25411,25411,25411,25411,1000198,2018,...,20180329659590922,201803296595909,102,1,2,1214,3,0,0,7
2,2018-03-29,6595909,23,945,25434,25434,25434,25434,1000198,2018,...,20180329659590923,201803296595909,102,1,2,1214,3,0,0,7
3,2018-03-29,6595909,24,947,25484,25484,25484,25484,1000198,2018,...,20180329659590924,201803296595909,102,1,2,1214,3,0,0,7
4,2018-03-29,6595909,25,948,25505,25505,25505,25505,1000198,2018,...,20180329659590925,201803296595909,102,1,2,1214,3,0,0,7

In [8]:
wk.dtypes

DAYOFSERVICE       object
TRIPID              int64
PROGRNUMBER         int64
STOPPOINTID         int64
PLANNEDTIME_ARR     int64
PLANNEDTIME_DEP     int64
ACTUALTIME_ARR      int64
ACTUALTIME_DEP      int64
VEHICLEID           int64
year                int64
month               int64
day                 int64
id                  int64
trip_leave_id       int64
LINEID              int64
num_lineID          int16
DIRECTION           int16
actual_duration     int64
dayOfWeek           int16
weekend             int16
rushHour            int16
actualARR_hour      int64
dtype: object

In [9]:
wk['LINEID'] = wk['LINEID'].astype('string')

## Route 102

In [10]:
lwk = wk[(wk['LINEID'] == '102')]

In [11]:
lwk.shape

(4505, 22)

In [12]:
# Drop Route 102 rows from wk
wk.drop(wk[wk['LINEID'] == '102'].index, inplace = True)

In [13]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
51,2018-03-29,6595914,1,381,27000,27000,27000,27000,2534796,2018,...,20180329659591401,201803296595914,1,0,2,1490,3,0,1,8
52,2018-03-29,6595914,2,382,27052,27052,27052,27052,2534796,2018,...,20180329659591402,201803296595914,1,0,2,1490,3,0,1,8
53,2018-03-29,6595914,3,4451,27072,27072,27072,27072,2534796,2018,...,20180329659591403,201803296595914,1,0,2,1490,3,0,1,8
54,2018-03-29,6595914,4,383,27118,27118,27118,27118,2534796,2018,...,20180329659591404,201803296595914,1,0,2,1490,3,0,1,8
55,2018-03-29,6595914,5,384,27170,27170,27170,27170,2534796,2018,...,20180329659591405,201803296595914,1,0,2,1490,3,0,1,8

In [14]:
wk.shape

(61031, 22)

<h3>Send to CSV</h3>

In [15]:
# Send df to csv:
lwk.to_csv('v5_102_tripLeave2_sp9c.csv', index=False)

## Route 1

In [16]:
lwk = wk[(wk['LINEID'] == '1')]

In [17]:
lwk.shape

(6897, 22)

In [18]:
# Drop Route 1 rows from wk
wk.drop(wk[wk['LINEID'] == '1'].index, inplace = True)

In [19]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3207,2018-03-30,6578853,1,4392,84000,84000,84000,84000,2172270,2018,...,20180330657885301,201803306578853,9,129,2,2115,4,0,0,23
3208,2018-03-30,6578853,2,2458,84028,84028,84028,84028,2172270,2018,...,20180330657885302,201803306578853,9,129,2,2115,4,0,0,23
3209,2018-03-30,6578853,3,2446,84056,84056,84056,84056,2172270,2018,...,20180330657885303,201803306578853,9,129,2,2115,4,0,0,23
3210,2018-03-30,6578853,4,2459,84085,84085,84085,84085,2172270,2018,...,20180330657885304,201803306578853,9,129,2,2115,4,0,0,23
3211,2018-03-30,6578853,5,2460,84118,84118,84118,84118,2172270,2018,...,20180330657885305,201803306578853,9,129,2,2115,4,0,0,23

In [20]:
wk.shape

(54134, 22)

<h3>Send to CSV</h3>

In [21]:
# Send df to csv:
lwk.to_csv('v5_1_tripLeave2_sp9c.csv', index=False)

## Route 9

In [22]:
lwk = wk[(wk['LINEID'] == '9')]

In [23]:
lwk.shape

(16985, 22)

In [24]:
# Drop Route 9 rows from wk
wk.drop(wk[wk['LINEID'] == '9'].index, inplace = True)

In [25]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
7553,2018-03-30,6589953,1,4747,32400,32400,32400,32400,1001166,2018,...,20180330658995301,201803306589953,236,34,1,1545,4,0,0,9
7554,2018-03-30,6589953,2,2960,32442,32442,32442,32442,1001166,2018,...,20180330658995302,201803306589953,236,34,1,1545,4,0,0,9
7555,2018-03-30,6589953,3,1545,32492,32492,32492,32492,1001166,2018,...,20180330658995303,201803306589953,236,34,1,1545,4,0,0,9
7556,2018-03-30,6589953,4,1816,32565,32565,32565,32565,1001166,2018,...,20180330658995304,201803306589953,236,34,1,1545,4,0,0,9
7557,2018-03-30,6589953,5,6171,32619,32619,32619,32619,1001166,2018,...,20180330658995305,201803306589953,236,34,1,1545,4,0,0,9

In [26]:
wk.shape

(37149, 22)

<h3>Send to CSV</h3>

In [27]:
# Send df to csv:
lwk.to_csv('v5_9_tripLeave2_sp9c.csv', index=False)

## Route 236

In [28]:
lwk = wk[(wk['LINEID'] == '236')]

In [29]:
lwk.shape

(144, 22)

In [30]:
# Drop Route 236 rows from wk
wk.drop(wk[wk['LINEID'] == '236'].index, inplace = True)

In [31]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
7697,2018-03-30,6593352,28,334,67559,67559,67559,67559,2693249,2018,...,20180330659335228,201803306593352,140,14,1,3425,4,0,0,19
7698,2018-03-30,6593352,29,7581,67827,67827,67827,67827,2693249,2018,...,20180330659335229,201803306593352,140,14,1,3425,4,0,0,19
7699,2018-03-30,6593352,30,1283,67986,67986,67986,67986,2693249,2018,...,20180330659335230,201803306593352,140,14,1,3425,4,0,0,19
7700,2018-03-30,6593352,31,7579,68106,68106,68106,68106,2693249,2018,...,20180330659335231,201803306593352,140,14,1,3425,4,0,0,19
7701,2018-03-30,6593352,32,1285,68269,68269,68269,68269,2693249,2018,...,20180330659335232,201803306593352,140,14,1,3425,4,0,0,19

In [32]:
wk.shape

(37005, 22)

<h3>Send to CSV</h3>

In [33]:
# Send df to csv:
lwk.to_csv('v5_236_tripLeave2_sp9c.csv', index=False)

## Route 140

In [34]:
lwk = wk[(wk['LINEID'] == '140')]

In [35]:
lwk.shape

(1894, 22)

In [36]:
# Drop Route 140 rows from wk
wk.drop(wk[wk['LINEID'] == '140'].index, inplace = True)

In [37]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
9591,2018-03-30,6594291,26,47,79505,79505,79505,79505,1932344,2018,...,20180330659429126,201803306594291,13,11,1,5911,4,0,0,22
9592,2018-03-30,6594291,27,48,79555,79555,79555,79555,1932344,2018,...,20180330659429127,201803306594291,13,11,1,5911,4,0,0,22
9593,2018-03-30,6594291,28,49,79626,79626,79626,79626,1932344,2018,...,20180330659429128,201803306594291,13,11,1,5911,4,0,0,22
9594,2018-03-30,6594291,29,51,79706,79706,79706,79706,1932344,2018,...,20180330659429129,201803306594291,13,11,1,5911,4,0,0,22
9595,2018-03-30,6594291,30,52,79749,79749,79749,79749,1932344,2018,...,20180330659429130,201803306594291,13,11,1,5911,4,0,0,22

In [38]:
wk.shape

(35111, 22)

<h3>Send to CSV</h3>

In [39]:
# Send df to csv:
lwk.to_csv('v5_140_tripLeave2_sp9c.csv', index=False)

## Route 13

In [40]:
lwk = wk[(wk['LINEID'] == '13')]

In [41]:
lwk.shape

(3562, 22)

In [42]:
# Drop Route 13 rows from wk
wk.drop(wk[wk['LINEID'] == '13'].index, inplace = True)

In [43]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
13153,2018-03-30,6594445,20,1934,36258,36258,36258,36258,2868343,2018,...,20180330659444520,201803306594445,123,10,2,3619,4,0,0,10
13154,2018-03-30,6594445,21,1935,36381,36381,36381,36381,2868343,2018,...,20180330659444521,201803306594445,123,10,2,3619,4,0,0,10
13155,2018-03-30,6594445,22,1937,36488,36488,36488,36488,2868343,2018,...,20180330659444522,201803306594445,123,10,2,3619,4,0,0,10
13156,2018-03-30,6594445,23,1938,36568,36568,36568,36568,2868343,2018,...,20180330659444523,201803306594445,123,10,2,3619,4,0,0,10
13157,2018-03-30,6594445,24,1939,36658,36658,36658,36658,2868343,2018,...,20180330659444524,201803306594445,123,10,2,3619,4,0,0,10

In [44]:
wk.shape

(31549, 22)

<h3>Send to CSV</h3>

In [45]:
# Send df to csv:
lwk.to_csv('v5_13_tripLeave2_sp9c.csv', index=False)

## Route 123

In [46]:
lwk = wk[(wk['LINEID'] == '123')]

In [47]:
lwk.shape

(9422, 22)

In [48]:
# Drop Route 123 rows from wk
wk.drop(wk[wk['LINEID'] == '123'].index, inplace = True)

In [49]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
19312,2018-03-30,6595363,1,3085,62100,62100,62100,62100,1930279,2018,...,20180330659536301,201803306595363,114,5,2,1631,4,0,1,17
19313,2018-03-30,6595363,2,3082,62223,62223,62223,62223,1930279,2018,...,20180330659536302,201803306595363,114,5,2,1631,4,0,1,17
19314,2018-03-30,6595363,3,3165,62290,62290,62290,62290,1930279,2018,...,20180330659536303,201803306595363,114,5,2,1631,4,0,1,17
19315,2018-03-30,6595363,4,3166,62392,62392,62392,62392,1930279,2018,...,20180330659536304,201803306595363,114,5,2,1631,4,0,1,17
19316,2018-03-30,6595363,5,3167,62417,62417,62417,62417,1930279,2018,...,20180330659536305,201803306595363,114,5,2,1631,4,0,1,17

In [50]:
wk.shape

(22127, 22)

<h3>Send to CSV</h3>

In [51]:
# Send df to csv:
lwk.to_csv('v5_123_tripLeave2_sp9c.csv', index=False)

## Route 114

In [52]:
lwk = wk[(wk['LINEID'] == '114')]

In [53]:
lwk.shape

(738, 22)

In [54]:
# Drop Route 114 rows from wk
wk.drop(wk[wk['LINEID'] == '114'].index, inplace = True)

In [55]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
20050,2018-03-30,6595494,1,449,84600,84600,84600,84600,1932299,2018,...,20180330659549401,201803306595494,11,3,2,1553,4,0,0,0
20051,2018-03-30,6595494,2,450,84629,84629,84629,84629,1932299,2018,...,20180330659549402,201803306595494,11,3,2,1553,4,0,0,0
20052,2018-03-30,6595494,3,3181,84687,84687,84687,84687,1932299,2018,...,20180330659549403,201803306595494,11,3,2,1553,4,0,0,0
20053,2018-03-30,6595494,4,451,84714,84714,84714,84714,1932299,2018,...,20180330659549404,201803306595494,11,3,2,1553,4,0,0,0
20054,2018-03-30,6595494,5,447,84754,84754,84754,84754,1932299,2018,...,20180330659549405,201803306595494,11,3,2,1553,4,0,0,0

In [56]:
wk.shape

(21389, 22)

<h3>Send to CSV</h3>

In [57]:
# Send df to csv:
lwk.to_csv('v5_114_tripLeave2_sp9c.csv', index=False)

## Route 11

In [58]:
lwk = wk[(wk['LINEID'] == '11')]

In [59]:
lwk.shape

(4449, 22)

In [60]:
# Drop Route 11 rows from wk
wk.drop(wk[wk['LINEID'] == '11'].index, inplace = True)

In [61]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
38132,2018-04-01,6592768,3,4178,39793,39793,39793,39793,2868331,2018,...,20180401659276803,201804016592768,145,16,2,4561,6,1,0,11
38133,2018-04-01,6592768,4,4179,39868,39868,39868,39868,2868331,2018,...,20180401659276804,201804016592768,145,16,2,4561,6,1,0,11
38134,2018-04-01,6592768,5,2993,39920,39920,39920,39920,2868331,2018,...,20180401659276805,201804016592768,145,16,2,4561,6,1,0,11
38135,2018-04-01,6592768,6,2994,39981,39981,39981,39981,2868331,2018,...,20180401659276806,201804016592768,145,16,2,4561,6,1,0,11
38136,2018-04-01,6592768,7,4180,40039,40039,40039,40039,2868331,2018,...,20180401659276807,201804016592768,145,16,2,4561,6,1,0,11

In [62]:
wk.shape

(16940, 22)

<h3>Send to CSV</h3>

In [63]:
# Send df to csv:
lwk.to_csv('v5_11_tripLeave2_sp9c.csv', index=False)

## Route 145

In [64]:
lwk = wk[(wk['LINEID'] == '145')]

In [65]:
lwk.shape

(11613, 22)

In [66]:
# Drop Route 145 rows from wk
wk.drop(wk[wk['LINEID'] == '145'].index, inplace = True)

In [67]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
43626,2018-04-01,6593718,3,1774,73277,73277,73277,73277,1000327,2018,...,20180401659371803,201804016593718,130,12,2,1459,6,1,0,20
43627,2018-04-01,6593718,4,1775,73314,73314,73314,73314,1000327,2018,...,20180401659371804,201804016593718,130,12,2,1459,6,1,0,20
43628,2018-04-01,6593718,5,1776,73347,73347,73347,73347,1000327,2018,...,20180401659371805,201804016593718,130,12,2,1459,6,1,0,20
43629,2018-04-01,6593718,6,1777,73370,73370,73370,73370,1000327,2018,...,20180401659371806,201804016593718,130,12,2,1459,6,1,0,20
43630,2018-04-01,6593718,7,1778,73401,73401,73401,73401,1000327,2018,...,20180401659371807,201804016593718,130,12,2,1459,6,1,0,20

In [68]:
wk.shape

(5327, 22)

<h3>Send to CSV</h3>

In [69]:
# Send df to csv:
lwk.to_csv('v5_145_tripLeave2_sp9c.csv', index=False)

## Route 130

In [70]:
lwk = wk[(wk['LINEID'] == '130')]

In [71]:
lwk.shape

(5327, 22)

In [72]:
# Drop Route 130 rows from wk
wk.drop(wk[wk['LINEID'] == '130'].index, inplace = True)

In [73]:
wk.head()

Empty DataFrame
Columns: [DAYOFSERVICE, TRIPID, PROGRNUMBER, STOPPOINTID, PLANNEDTIME_ARR, PLANNEDTIME_DEP, ACTUALTIME_ARR, ACTUALTIME_DEP, VEHICLEID, year, month, day, id, trip_leave_id, LINEID, num_lineID, DIRECTION, actual_duration, dayOfWeek, weekend, rushHour, actualARR_hour]
Index: []

[0 rows x 22 columns]

In [74]:
wk.shape

(0, 22)

<h3>Send to CSV</h3>

In [75]:
# Send df to csv:
lwk.to_csv('v5_130_tripLeave2_sp9c.csv', index=False)

## Continue v5_tripLeave2_route_split_9d

In [ ]:
# Send df to csv:
wk.to_csv('v5_tripLeave2_route_split_9d.csv', index=False)