In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave5 route split 2 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave5_route_split_2.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(13987803, 22)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Datatype Changes

In [4]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [5]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [6]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 76

In [7]:
lwk = wk[(wk['LINEID'] == '76')]

In [8]:
lwk.shape

(125327, 22)

In [9]:
# Drop Route 76 rows from wk
wk.drop(wk[wk['LINEID'] == '76'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_76_tripLeave5_sp2.csv', index=False)

## Route 9

In [10]:
lwk = wk[(wk['LINEID'] == '9')]

In [11]:
lwk.shape

(473174, 22)

In [12]:
# Drop Route 9 rows from wk
wk.drop(wk[wk['LINEID'] == '9'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_9_tripLeave5_sp2.csv', index=False)

## Route 15A

In [13]:
lwk = wk[(wk['LINEID'] == '15A')]

In [14]:
lwk.shape

(197919, 22)

In [15]:
# Drop Route 15A rows from wk
wk.drop(wk[wk['LINEID'] == '15A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_15A_tripLeave5_sp2.csv', index=False)

## Route 270

In [16]:
lwk = wk[(wk['LINEID'] == '270')]

In [17]:
lwk.shape

(27622, 22)

In [18]:
# Drop Route 270 rows from wk
wk.drop(wk[wk['LINEID'] == '270'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_270_tripLeave5_sp2.csv', index=False)

## Route 39

In [19]:
lwk = wk[(wk['LINEID'] == '39')]

In [20]:
lwk.shape

(275646, 22)

In [21]:
# Drop Route 39 rows from wk
wk.drop(wk[wk['LINEID'] == '39'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_39_tripLeave5_sp2.csv', index=False)

## Route 11

In [22]:
lwk = wk[(wk['LINEID'] == '11')]

In [23]:
lwk.shape

(258863, 22)

In [24]:
# Drop Route 11 rows from wk
wk.drop(wk[wk['LINEID'] == '11'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_11_tripLeave5_sp2.csv', index=False)

## Route 39A

In [25]:
lwk = wk[(wk['LINEID'] == '39A')]

In [26]:
lwk.shape

(577940, 22)

In [27]:
# Drop Route 39A rows from wk
wk.drop(wk[wk['LINEID'] == '39A'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_39A_tripLeave5_sp2.csv', index=False)

## Route 15B

In [28]:
lwk = wk[(wk['LINEID'] == '15B')]

In [29]:
lwk.shape

(265554, 22)

In [30]:
# Drop Route 15B rows from wk
wk.drop(wk[wk['LINEID'] == '15B'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_15B_tripLeave5_sp2.csv', index=False)

## Route 25

In [31]:
lwk = wk[(wk['LINEID'] == '25')]

In [32]:
lwk.shape

(62643, 22)

In [33]:
# Drop Route 25 rows from wk
wk.drop(wk[wk['LINEID'] == '25'].index, inplace = True)

In [34]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3515,2018-08-26,7503535,1,2353,36000,36000,36000,36000,2534843,2018,...,20180826750353501,201808267503535,27,43,2,4241,6,1,0,10
3516,2018-08-26,7503535,2,4643,36048,36048,36048,36048,2534843,2018,...,20180826750353502,201808267503535,27,43,2,4241,6,1,0,10
3517,2018-08-26,7503535,3,4644,36104,36104,36104,36104,2534843,2018,...,20180826750353503,201808267503535,27,43,2,4241,6,1,0,10
3518,2018-08-26,7503535,4,4645,36140,36140,36140,36140,2534843,2018,...,20180826750353504,201808267503535,27,43,2,4241,6,1,0,10
3519,2018-08-26,7503535,5,4440,36177,36177,36177,36177,2534843,2018,...,20180826750353505,201808267503535,27,43,2,4241,6,1,0,10

In [35]:
wk.shape

(11723115, 22)

<h3>Send to CSV</h3>

In [36]:
# Send df to csv:
lwk.to_csv('v5_25_tripLeave5_sp2.csv', index=False)

## Route 27

In [37]:
lwk = wk[(wk['LINEID'] == '27')]

In [38]:
lwk.shape

(637386, 22)

In [39]:
# Drop Route 27 rows from wk
wk.drop(wk[wk['LINEID'] == '27'].index, inplace = True)

In [40]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
4051,2018-08-26,7503562,1,288,44400,44400,44400,44400,1000117,2018,...,20180826750356201,201808267503562,41C,77,1,3517,6,1,0,12
4052,2018-08-26,7503562,2,1171,44467,44467,44467,44467,1000117,2018,...,20180826750356202,201808267503562,41C,77,1,3517,6,1,0,12
4053,2018-08-26,7503562,3,1172,44519,44519,44519,44519,1000117,2018,...,20180826750356203,201808267503562,41C,77,1,3517,6,1,0,12
4054,2018-08-26,7503562,4,1173,44593,44593,44593,44593,1000117,2018,...,20180826750356204,201808267503562,41C,77,1,3517,6,1,0,12
4055,2018-08-26,7503562,5,1174,44689,44689,44689,44689,1000117,2018,...,20180826750356205,201808267503562,41C,77,1,3517,6,1,0,12

In [41]:
wk.shape

(11085729, 22)

<h3>Send to CSV</h3>

In [42]:
# Send df to csv:
lwk.to_csv('v5_27_tripLeave5_sp2.csv', index=False)

## Route 41C

In [43]:
lwk = wk[(wk['LINEID'] == '41C')]

In [44]:
lwk.shape

(260431, 22)

In [45]:
# Drop Route 41C rows from wk
wk.drop(wk[wk['LINEID'] == '41C'].index, inplace = True)

In [46]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
4111,2018-08-26,7503563,1,4843,48000,48000,48000,48000,1000117,2018,...,20180826750356301,201808267503563,41,74,2,4449,6,1,0,13
4112,2018-08-26,7503563,2,4905,48051,48051,48051,48051,1000117,2018,...,20180826750356302,201808267503563,41,74,2,4449,6,1,0,13
4113,2018-08-26,7503563,4,4906,48100,48100,48100,48100,1000117,2018,...,20180826750356304,201808267503563,41,74,2,4449,6,1,0,13
4114,2018-08-26,7503563,5,4907,48136,48136,48136,48136,1000117,2018,...,20180826750356305,201808267503563,41,74,2,4449,6,1,0,13
4115,2018-08-26,7503563,6,4908,48158,48158,48158,48158,1000117,2018,...,20180826750356306,201808267503563,41,74,2,4449,6,1,0,13

In [47]:
wk.shape

(10825298, 22)

<h3>Send to CSV</h3>

In [48]:
# Send df to csv:
lwk.to_csv('v5_41C_tripLeave5_sp2.csv', index=False)

## Route 41

In [49]:
lwk = wk[(wk['LINEID'] == '41')]

In [50]:
lwk.shape

(271682, 22)

In [51]:
# Drop Route 41 rows from wk
wk.drop(wk[wk['LINEID'] == '41'].index, inplace = True)

In [52]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
4424,2018-08-26,7503622,8,406,39157,39157,39157,39157,1932303,2018,...,20180826750362208,201808267503622,145,16,1,3725,6,1,0,11
4425,2018-08-26,7503622,9,747,39253,39253,39253,39253,1932303,2018,...,20180826750362209,201808267503622,145,16,1,3725,6,1,0,11
4426,2018-08-26,7503622,10,842,39324,39324,39324,39324,1932303,2018,...,20180826750362210,201808267503622,145,16,1,3725,6,1,0,11
4427,2018-08-26,7503622,11,845,39371,39371,39371,39371,1932303,2018,...,20180826750362211,201808267503622,145,16,1,3725,6,1,0,11
4428,2018-08-26,7503622,12,846,39438,39438,39438,39438,1932303,2018,...,20180826750362212,201808267503622,145,16,1,3725,6,1,0,11

In [53]:
wk.shape

(10553616, 22)

<h3>Send to CSV</h3>

In [54]:
# Send df to csv:
lwk.to_csv('v5_41_tripLeave5_sp2.csv', index=False)

## Continue v5_tripLeave5_route_split_3

In [55]:
# Send df to csv:
wk.to_csv('v5_tripLeave5_route_split_3.csv', index=False)