In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave4 CSV file into Data Frame:
wk = pd.read_csv('v4_tripLeave4_LT_2018.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(18386916, 21)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Add Actual Arrival Time Hour

In [4]:
wk['actualARR_hour'] = (wk['ACTUALTIME_ARR'] / 3600).round()

In [ ]:
wk.head()

In [5]:
# Replace any 24 hour values to zero
wk['actualARR_hour'] = np.where(wk['actualARR_hour'] == 24, 0, wk['actualARR_hour'])

In [6]:
# Update actualARR_hour to int to rid of decimals
wk['actualARR_hour'] = wk['actualARR_hour'].astype('int32')

In [7]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-06-24,7110233,1,7149,43200,43200,43200,43200,2534822,2018,...,20180624711023301,201806247110233,140,14.0,1.0,3640.0,6.0,1.0,0.0,12
1,2018-06-24,7110233,2,7277,43270,43270,43270,43270,2534822,2018,...,20180624711023302,201806247110233,140,14.0,1.0,3640.0,6.0,1.0,0.0,12
2,2018-06-24,7110233,3,6363,43370,43370,43370,43370,2534822,2018,...,20180624711023303,201806247110233,140,14.0,1.0,3640.0,6.0,1.0,0.0,12
3,2018-06-24,7110233,4,6361,43438,43438,43438,43438,2534822,2018,...,20180624711023304,201806247110233,140,14.0,1.0,3640.0,6.0,1.0,0.0,12
4,2018-06-24,7110233,5,6367,43472,43472,43472,43472,2534822,2018,...,20180624711023305,201806247110233,140,14.0,1.0,3640.0,6.0,1.0,0.0,12

## Datatype Changes

In [8]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [9]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [10]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [11]:
wk.dtypes

DAYOFSERVICE       object
TRIPID              int64
PROGRNUMBER         int64
STOPPOINTID         int64
PLANNEDTIME_ARR     int64
PLANNEDTIME_DEP     int64
ACTUALTIME_ARR      int64
ACTUALTIME_DEP      int64
VEHICLEID           int64
year                int64
month               int64
day                 int64
id                  int64
trip_leave_id       int64
LINEID             object
num_lineID          int16
DIRECTION           int16
actual_duration     int64
dayOfWeek           int16
weekend             int16
rushHour            int16
actualARR_hour      int32
dtype: object

## Route 140

In [12]:
lwk = wk[(wk['LINEID'] == '140')]

In [13]:
lwk.shape

(313673, 22)

In [14]:
# Drop Route 140 rows from wk
wk.drop(wk[wk['LINEID'] == '140'].index, inplace = True)

In [15]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
182,2018-06-24,7110251,1,6041,48600,48600,48600,48600,2868391,2018,...,20180624711025101,201806247110251,14,13,2,4871,6,1,0,14
183,2018-06-24,7110251,6,2845,48903,48903,48903,48903,2868391,2018,...,20180624711025106,201806247110251,14,13,2,4871,6,1,0,14
184,2018-06-24,7110251,7,2846,48955,48955,48955,48955,2868391,2018,...,20180624711025107,201806247110251,14,13,2,4871,6,1,0,14
185,2018-06-24,7110251,8,2847,48987,48987,48987,48987,2868391,2018,...,20180624711025108,201806247110251,14,13,2,4871,6,1,0,14
186,2018-06-24,7110251,9,4397,49013,49013,49013,49013,2868391,2018,...,20180624711025109,201806247110251,14,13,2,4871,6,1,0,14

In [16]:
wk.shape

(18073243, 22)

<h3>Send to CSV</h3>

In [17]:
# Send df to csv:
lwk.to_csv('v5_140_tripLeave4_sp0.csv', index=False)

## Route 14

In [18]:
lwk = wk[(wk['LINEID'] == '14')]

In [19]:
lwk.shape

(392638, 22)

In [20]:
# Drop Route 14 rows from wk
wk.drop(wk[wk['LINEID'] == '14'].index, inplace = True)

In [21]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
584,2018-06-24,7110290,6,7204,31963,31963,31963,31963,1000758,2018,...,20180624711029006,201806247110290,33B,57,2,1832,6,1,0,9
585,2018-06-24,7110290,7,3739,32103,32103,32103,32103,1000758,2018,...,20180624711029007,201806247110290,33B,57,2,1832,6,1,0,9
586,2018-06-24,7110290,8,3738,32179,32179,32179,32179,1000758,2018,...,20180624711029008,201806247110290,33B,57,2,1832,6,1,0,9
587,2018-06-24,7110290,9,7170,32216,32216,32216,32216,1000758,2018,...,20180624711029009,201806247110290,33B,57,2,1832,6,1,0,9
588,2018-06-24,7110290,10,3740,32255,32255,32255,32255,1000758,2018,...,20180624711029010,201806247110290,33B,57,2,1832,6,1,0,9

In [22]:
wk.shape

(17680605, 22)

<h3>Send to CSV</h3>

In [23]:
# Send df to csv:
lwk.to_csv('v5_14_tripLeave4_sp0.csv', index=False)

## Route 33B

In [24]:
lwk = wk[(wk['LINEID'] == '33B')]

In [25]:
lwk.shape

(47688, 22)

In [26]:
# Drop Route 33B rows from wk
wk.drop(wk[wk['LINEID'] == '33B'].index, inplace = True)

In [27]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
930,2018-06-24,7110377,3,1700,39171,39171,39171,39171,1000135,2018,...,20180624711037703,201806247110377,122,9,1,2801,6,1,0,11
931,2018-06-24,7110377,4,1701,39210,39210,39210,39210,1000135,2018,...,20180624711037704,201806247110377,122,9,1,2801,6,1,0,11
932,2018-06-24,7110377,5,1702,39237,39237,39237,39237,1000135,2018,...,20180624711037705,201806247110377,122,9,1,2801,6,1,0,11
933,2018-06-24,7110377,6,16,39286,39286,39286,39286,1000135,2018,...,20180624711037706,201806247110377,122,9,1,2801,6,1,0,11
934,2018-06-24,7110377,7,73,39347,39347,39347,39347,1000135,2018,...,20180624711037707,201806247110377,122,9,1,2801,6,1,0,11

In [28]:
wk.shape

(17632917, 22)

<h3>Send to CSV</h3>

In [29]:
# Send df to csv:
lwk.to_csv('v5_33B_tripLeave4_sp0.csv', index=False)

## Route 122

In [30]:
lwk = wk[(wk['LINEID'] == '122')]

In [31]:
lwk.shape

(276119, 22)

In [32]:
# Drop Route 122 rows from wk
wk.drop(wk[wk['LINEID'] == '122'].index, inplace = True)

In [33]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
1874,2018-06-24,7110481,1,324,31800,31800,31800,31800,1000140,2018,...,20180624711048101,201806247110481,27B,46,2,2626,6,1,0,9
1875,2018-06-24,7110481,7,1634,32027,32027,32027,32027,1000140,2018,...,20180624711048107,201806247110481,27B,46,2,2626,6,1,0,9
1876,2018-06-24,7110481,8,1635,32061,32061,32061,32061,1000140,2018,...,20180624711048108,201806247110481,27B,46,2,2626,6,1,0,9
1877,2018-06-24,7110481,9,1636,32093,32093,32093,32093,1000140,2018,...,20180624711048109,201806247110481,27B,46,2,2626,6,1,0,9
1878,2018-06-24,7110481,10,1637,32153,32153,32153,32153,1000140,2018,...,20180624711048110,201806247110481,27B,46,2,2626,6,1,0,9

In [34]:
wk.shape

(17356798, 22)

<h3>Send to CSV</h3>

In [35]:
# Send df to csv:
lwk.to_csv('v5_122_tripLeave4_sp0.csv', index=False)

## Route 27B

In [36]:
lwk = wk[(wk['LINEID'] == '27B')]

In [37]:
lwk.shape

(235207, 22)

In [38]:
# Drop Route 27B rows from wk
wk.drop(wk[wk['LINEID'] == '27B'].index, inplace = True)

In [39]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
2566,2018-06-24,7110517,1,7132,47700,47700,47700,47700,2868324,2018,...,20180624711051701,201806247110517,9,129,1,3385,6,1,0,13
2567,2018-06-24,7110517,2,6230,47776,47776,47776,47776,2868324,2018,...,20180624711051702,201806247110517,9,129,1,3385,6,1,0,13
2568,2018-06-24,7110517,3,6228,47823,47823,47823,47823,2868324,2018,...,20180624711051703,201806247110517,9,129,1,3385,6,1,0,13
2569,2018-06-24,7110517,4,4788,47884,47884,47884,47884,2868324,2018,...,20180624711051704,201806247110517,9,129,1,3385,6,1,0,13
2570,2018-06-24,7110517,5,6273,47932,47932,47932,47932,2868324,2018,...,20180624711051705,201806247110517,9,129,1,3385,6,1,0,13

In [40]:
wk.shape

(17121591, 22)

<h3>Send to CSV</h3>

In [41]:
# Send df to csv:
lwk.to_csv('v5_27B_tripLeave4_sp0.csv', index=False)

## Route 9

In [42]:
lwk = wk[(wk['LINEID'] == '9')]

In [43]:
lwk.shape

(417551, 22)

In [44]:
# Drop Route 9 rows from wk
wk.drop(wk[wk['LINEID'] == '9'].index, inplace = True)

In [45]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
2900,2018-06-24,7110522,1,7662,34200,34200,34200,34200,2868385,2018,...,20180624711052201,201806247110522,47,88,1,2306,6,1,0,10
2901,2018-06-24,7110522,2,7564,34281,34281,34281,34281,2868385,2018,...,20180624711052202,201806247110522,47,88,1,2306,6,1,0,10
2902,2018-06-24,7110522,3,340,34362,34362,34362,34362,2868385,2018,...,20180624711052203,201806247110522,47,88,1,2306,6,1,0,10
2903,2018-06-24,7110522,4,350,34442,34442,34442,34442,2868385,2018,...,20180624711052204,201806247110522,47,88,1,2306,6,1,0,10
2904,2018-06-24,7110522,5,351,34525,34525,34525,34525,2868385,2018,...,20180624711052205,201806247110522,47,88,1,2306,6,1,0,10

In [46]:
wk.shape

(16704040, 22)

<h3>Send to CSV</h3>

In [47]:
# Send df to csv:
lwk.to_csv('v5_9_tripLeave4_sp0.csv', index=False)

## Continue v5_tripLeave4_route_split_1

In [48]:
# Send df to csv:
wk.to_csv('v5_tripLeave4_route_split_1.csv', index=False)