In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave2 CSV file into Data Frame:
wk = pd.read_csv('v4_tripLeave2_LT_2018.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

/tmp/ipykernel_12279/2012513398.py:2: DtypeWarning: Columns (14) have mixed types. Specify dtype option on import or set low_memory=False.
  wk = pd.read_csv('v4_tripLeave2_LT_2018.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(18205324, 21)

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Add Actual Arrival Time Hour

In [4]:
wk['actualARR_hour'] = (wk['ACTUALTIME_ARR'] / 3600).round()

In [5]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-02-26,6288438,1,4595,25800,25800,25800,25800,2868356,2018,...,20180226628843801,201802266288438,27,43.0,1.0,6494.0,0.0,0.0,0.0,7.0
1,2018-02-26,6288438,2,4596,25840,25840,25840,25840,2868356,2018,...,20180226628843802,201802266288438,27,43.0,1.0,6494.0,0.0,0.0,0.0,7.0
2,2018-02-26,6288438,3,4563,25888,25888,25888,25888,2868356,2018,...,20180226628843803,201802266288438,27,43.0,1.0,6494.0,0.0,0.0,0.0,7.0
3,2018-02-26,6288438,4,1218,25935,25935,25935,25935,2868356,2018,...,20180226628843804,201802266288438,27,43.0,1.0,6494.0,0.0,0.0,0.0,7.0
4,2018-02-26,6288438,5,1258,26035,26035,26035,26035,2868356,2018,...,20180226628843805,201802266288438,27,43.0,1.0,6494.0,0.0,0.0,0.0,7.0

In [6]:
# Replace any 24 hour values to zero
wk['actualARR_hour'] = np.where(wk['actualARR_hour'] == 24, 0, wk['actualARR_hour'])

In [7]:
# Update actualARR_hour to int to rid of decimals
wk['actualARR_hour'] = wk['actualARR_hour'].astype('int32')

In [ ]:
wk.head()

## Datatype Changes

In [8]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [9]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [10]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [11]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-02-26,6288438,1,4595,25800,25800,25800,25800,2868356,2018,...,20180226628843801,201802266288438,27,43,1,6494,0,0,0,7
1,2018-02-26,6288438,2,4596,25840,25840,25840,25840,2868356,2018,...,20180226628843802,201802266288438,27,43,1,6494,0,0,0,7
2,2018-02-26,6288438,3,4563,25888,25888,25888,25888,2868356,2018,...,20180226628843803,201802266288438,27,43,1,6494,0,0,0,7
3,2018-02-26,6288438,4,1218,25935,25935,25935,25935,2868356,2018,...,20180226628843804,201802266288438,27,43,1,6494,0,0,0,7
4,2018-02-26,6288438,5,1258,26035,26035,26035,26035,2868356,2018,...,20180226628843805,201802266288438,27,43,1,6494,0,0,0,7

In [ ]:
wk.dtypes

## Route 27

In [12]:
lwk = wk[(wk['LINEID'] == '27')]

In [13]:
lwk.shape

(604137, 22)

In [14]:
# Drop Route 27 rows from wk
wk.drop(wk[wk['LINEID'] == '27'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_27_tripLeave2_sp0.csv', index=False)

## Route 67

In [15]:
lwk = wk[(wk['LINEID'] == '67')]

In [16]:
lwk.shape

(229746, 22)

In [17]:
# Drop Route 67 rows from wk
wk.drop(wk[wk['LINEID'] == '67'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_67_tripLeave2_sp0.csv', index=False)

## Route 31

In [18]:
lwk = wk[(wk['LINEID'] == '31')]

In [19]:
lwk.shape

(204514, 22)

In [20]:
# Drop Route 31 rows from wk
wk.drop(wk[wk['LINEID'] == '31'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_31_tripLeave2_sp0.csv', index=False)

## Route 31B

In [21]:
lwk = wk[(wk['LINEID'] == '31B')]

In [22]:
lwk.shape

(20124, 22)

In [23]:
# Drop Route 31B rows from wk
wk.drop(wk[wk['LINEID'] == '31B'].index, inplace = True)

In [24]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
1080,2018-02-26,6288515,2,289,36990,36990,36990,36990,1000774,2018,...,20180226628851502,201802266288515,31A,50,1,3073,0,0,0,10
1081,2018-02-26,6288515,3,496,37066,37066,37066,37066,1000774,2018,...,20180226628851503,201802266288515,31A,50,1,3073,0,0,0,10
1082,2018-02-26,6288515,4,7490,37080,37080,37080,37080,1000774,2018,...,20180226628851504,201802266288515,31A,50,1,3073,0,0,0,10
1083,2018-02-26,6288515,5,515,37193,37193,37193,37193,1000774,2018,...,20180226628851505,201802266288515,31A,50,1,3073,0,0,0,10
1084,2018-02-26,6288515,6,516,37260,37260,37260,37260,1000774,2018,...,20180226628851506,201802266288515,31A,50,1,3073,0,0,0,10

In [25]:
wk.shape

(17146803, 22)

<h3>Send to CSV</h3>

In [26]:
# Send df to csv:
lwk.to_csv('v5_31B_tripLeave2_sp0.csv', index=False)

## Continue v5_tripLeave2_route_split_1

In [27]:
# Send df to csv:
wk.to_csv('v5_tripLeave2_route_split_1.csv', index=False)