In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
# Read tripleave1 route split 5 CSV file into Data Frame:
wk = pd.read_csv('v5_tripLeave1_route_split_5.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
wk.shape

(7133387, 22)

In [4]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-01-01,5957533,1,7591,37200,37200,37200,37200,1001072,2018,...,20180101595753301,201801015957533,130,12,1,1429,0,0,0,10
1,2018-01-01,5957533,3,496,37300,37300,37300,37300,1001072,2018,...,20180101595753303,201801015957533,130,12,1,1429,0,0,0,10
2,2018-01-01,5957533,4,7490,37317,37317,37317,37317,1001072,2018,...,20180101595753304,201801015957533,130,12,1,1429,0,0,0,10
3,2018-01-01,5957533,5,515,37394,37394,37394,37394,1001072,2018,...,20180101595753305,201801015957533,130,12,1,1429,0,0,0,10
4,2018-01-01,5957533,6,516,37439,37439,37439,37439,1001072,2018,...,20180101595753306,201801015957533,130,12,1,1429,0,0,0,10

In [5]:
wk.dtypes

DAYOFSERVICE       object
TRIPID              int64
PROGRNUMBER         int64
STOPPOINTID         int64
PLANNEDTIME_ARR     int64
PLANNEDTIME_DEP     int64
ACTUALTIME_ARR      int64
ACTUALTIME_DEP      int64
VEHICLEID           int64
year                int64
month               int64
day                 int64
id                  int64
trip_leave_id       int64
LINEID             object
num_lineID          int64
DIRECTION           int64
actual_duration     int64
dayOfWeek           int64
weekend             int64
rushHour            int64
actualARR_hour      int64
dtype: object

## Datatype Changes

In [6]:
wk['num_lineID'] = wk['num_lineID'].astype('int16')
wk['DIRECTION'] = wk['DIRECTION'].astype('int16')

In [7]:
wk['actual_duration'] = wk['actual_duration'].astype('int64')
wk['dayOfWeek'] = wk['dayOfWeek'].astype('int16')

In [8]:
wk['weekend'] = wk['weekend'].astype('int16')
wk['rushHour'] = wk['rushHour'].astype('int16')

In [ ]:
wk.head()

In [ ]:
wk.dtypes

## Route 130

In [9]:
lwk = wk[(wk['LINEID'] == '130')]

In [10]:
lwk.shape

(308848, 22)

In [11]:
# Drop Route 130 rows from wk
wk.drop(wk[wk['LINEID'] == '130'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_130_tripLeave1_sp5.csv', index=False)

## Route 270

In [12]:
lwk = wk[(wk['LINEID'] == '270')]

In [13]:
lwk.shape

(31782, 22)

In [14]:
# Drop Route 270 rows from wk
wk.drop(wk[wk['LINEID'] == '270'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_270_tripLeave1_sp5.csv', index=False)

## Route 123

In [15]:
lwk = wk[(wk['LINEID'] == '123')]

In [16]:
lwk.shape

(347511, 22)

In [17]:
# Drop Route 123 rows from wk
wk.drop(wk[wk['LINEID'] == '123'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_123_tripLeave1_sp5.csv', index=False)

## Route 4

In [18]:
lwk = wk[(wk['LINEID'] == '4')]

In [19]:
lwk.shape

(333252, 22)

In [20]:
# Drop Route 4 rows from wk
wk.drop(wk[wk['LINEID'] == '4'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_4_tripLeave1_sp5.csv', index=False)

## Route 9

In [21]:
lwk = wk[(wk['LINEID'] == '9')]

In [22]:
lwk.shape

(442613, 22)

In [23]:
# Drop Route 9 rows from wk
wk.drop(wk[wk['LINEID'] == '9'].index, inplace = True)

In [ ]:
wk.head()

In [ ]:
wk.shape

<h3>Send to CSV</h3>

In [ ]:
# Send df to csv:
lwk.to_csv('v5_9_tripLeave1_sp5.csv', index=False)

## Route 151

In [24]:
lwk = wk[(wk['LINEID'] == '151')]

In [25]:
lwk.shape

(254078, 22)

In [26]:
# Drop Route 151 rows from wk
wk.drop(wk[wk['LINEID'] == '151'].index, inplace = True)

In [27]:
wk.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
3511,2018-01-01,5958121,1,7333,42000,42000,42000,42000,2534866,2018,...,20180101595812101,201801015958121,39,66,1,4067,0,0,0,12
3512,2018-01-01,5958121,2,783,42094,42094,42094,42094,2534866,2018,...,20180101595812102,201801015958121,39,66,1,4067,0,0,0,12
3513,2018-01-01,5958121,3,784,42119,42119,42119,42119,2534866,2018,...,20180101595812103,201801015958121,39,66,1,4067,0,0,0,12
3514,2018-01-01,5958121,4,785,42161,42161,42161,42161,2534866,2018,...,20180101595812104,201801015958121,39,66,1,4067,0,0,0,12
3515,2018-01-01,5958121,5,786,42240,42240,42240,42240,2534866,2018,...,20180101595812105,201801015958121,39,66,1,4067,0,0,0,12

In [28]:
wk.shape

(5415303, 22)

<h3>Send to CSV</h3>

In [29]:
# Send df to csv:
lwk.to_csv('v5_151_tripLeave1_sp5.csv', index=False)

## Continue v5_tripLeave1_route_split_6

In [30]:
# Send df to csv:
wk.to_csv('v5_tripLeave1_route_split_6.csv', index=False)