In [1]:
# Library Imports.
import pandas as pd

import numpy as np

## Read in Routes

In [846]:
rt = pd.read_csv('v5_9_tripLeave1_sp5.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [847]:
rt.shape

(442613, 22)

In [848]:
rt1 = pd.read_csv('v5_9_tripLeave2_sp4.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [849]:
rt1.shape

(431979, 22)

In [850]:
rt2 = pd.read_csv('v5_9_tripLeave2_sp9c.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [851]:
rt2.shape

(16985, 22)

In [852]:
rt3 = pd.read_csv('v5_9_tripLeave3_sp4.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [853]:
rt3.shape

(449099, 22)

In [854]:
rt4 = pd.read_csv('v5_9_tripLeave4_sp0.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [855]:
rt4.shape

(417551, 22)

In [856]:
rt5 = pd.read_csv('v5_9_tripLeave5_sp2.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [857]:
rt5.shape

(473174, 22)

In [858]:
rt6 = pd.read_csv('v5_9_tripLeave6_sp3.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [859]:
rt6.shape

(449663, 22)

In [ ]:
rt7 = pd.read_csv('v5_145_tripLeave6_sp3.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [ ]:
rt7.shape

## Combine Routes into One Dataframe

In [860]:
comb = pd.concat([rt, rt1, rt2, rt3, rt4, rt5, rt6], axis=0)

In [861]:
comb.shape

(2681064, 22)

In [862]:
comb.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,id,trip_leave_id,LINEID,num_lineID,DIRECTION,actual_duration,dayOfWeek,weekend,rushHour,actualARR_hour
0,2018-01-01,5957793,1,7132,32400,32400,32400,32400,2172314,2018,...,20180101595779301,201801015957793,9,129,1,3090,0,0,0,9
1,2018-01-01,5957793,2,6230,32470,32470,32470,32470,2172314,2018,...,20180101595779302,201801015957793,9,129,1,3090,0,0,0,9
2,2018-01-01,5957793,3,6228,32513,32513,32513,32513,2172314,2018,...,20180101595779303,201801015957793,9,129,1,3090,0,0,0,9
3,2018-01-01,5957793,4,4788,32569,32569,32569,32569,2172314,2018,...,20180101595779304,201801015957793,9,129,1,3090,0,0,0,9
4,2018-01-01,5957793,5,6273,32615,32615,32615,32615,2172314,2018,...,20180101595779305,201801015957793,9,129,1,3090,0,0,0,9

## Send to CSV

In [863]:
# Send df to csv:
comb.to_csv('v6_route_9.csv', index=False)