In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
leave = pd.read_csv('v8a_leave2.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
leave.shape

(19491519, 5)

In [4]:
leave.head()

  DAYOFSERVICE   TRIPID  PROGRNUMBER  STOPPOINTID  ACTUALTIME_ARR
0   2018-02-16  6249804           16         2058           60196
1   2018-02-16  6250081           19         2061           65869
2   2018-02-16  6261416           22         2064           28254
3   2018-02-16  6261416           25         3322           28490
4   2018-02-16  6250081           28          445           66353

## Create ID

In [5]:
leave['DAYOFSERVICE'] = leave['DAYOFSERVICE'].astype('string')

In [6]:
leave['TRIPID'] = leave['TRIPID'].astype('string')

In [7]:
leave['PROGRNUMBER'] = leave['PROGRNUMBER'].astype('string')

In [8]:
leave['STOPPOINTID'] = leave['STOPPOINTID'].astype('string')

In [9]:
leave['dos_trpID_stpID_prgNum'] = leave['DAYOFSERVICE'] + '-' + leave['TRIPID'] + '-' + leave['STOPPOINTID'] + '-' + leave['PROGRNUMBER']

In [10]:
leave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,dos_trpID_stpID_prgNum
0,2018-02-16,6249804,16,2058,60196,2018-02-16-6249804-2058-16
1,2018-02-16,6250081,19,2061,65869,2018-02-16-6250081-2061-19
2,2018-02-16,6261416,22,2064,28254,2018-02-16-6261416-2064-22
3,2018-02-16,6261416,25,3322,28490,2018-02-16-6261416-3322-25
4,2018-02-16,6250081,28,445,66353,2018-02-16-6250081-445-28

## Drop Columns

In [11]:
leave = leave.drop(['DAYOFSERVICE', 'TRIPID', 'STOPPOINTID', 'PROGRNUMBER'], axis=1)

In [12]:
leave.head()

   ACTUALTIME_ARR      dos_trpID_stpID_prgNum
0           60196  2018-02-16-6249804-2058-16
1           65869  2018-02-16-6250081-2061-19
2           28254  2018-02-16-6261416-2064-22
3           28490  2018-02-16-6261416-3322-25
4           66353   2018-02-16-6250081-445-28

In [13]:
fcol = leave.pop('dos_trpID_stpID_prgNum')

In [14]:
leave.insert(0, 'dos_trpID_stpID_prgNum', fcol)

In [15]:
leave.head()

       dos_trpID_stpID_prgNum  ACTUALTIME_ARR
0  2018-02-16-6249804-2058-16           60196
1  2018-02-16-6250081-2061-19           65869
2  2018-02-16-6261416-2064-22           28254
3  2018-02-16-6261416-3322-25           28490
4   2018-02-16-6250081-445-28           66353

## Send to CSV

In [16]:
# Send leave2 to csv:
leave.to_csv('v8b_leave2.csv', index=False)