In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
leave = pd.read_csv('v8a_leave3.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
leave.shape

(19491519, 5)

In [4]:
leave.head()

  DAYOFSERVICE   TRIPID  PROGRNUMBER  STOPPOINTID  ACTUALTIME_ARR
0   2018-04-29  6664022           21         1169           64288
1   2018-04-29  6652825           21         1169           53367
2   2018-04-29  6652821           21         1169           39794
3   2018-04-29  6652827           22         1170           60602
4   2018-04-29  6656085           22         1170           71882

## Create ID

In [5]:
leave['DAYOFSERVICE'] = leave['DAYOFSERVICE'].astype('string')

In [6]:
leave['TRIPID'] = leave['TRIPID'].astype('string')

In [7]:
leave['PROGRNUMBER'] = leave['PROGRNUMBER'].astype('string')

In [8]:
leave['STOPPOINTID'] = leave['STOPPOINTID'].astype('string')

In [9]:
leave['dos_trpID_stpID_prgNum'] = leave['DAYOFSERVICE'] + '-' + leave['TRIPID'] + '-' + leave['STOPPOINTID'] + '-' + leave['PROGRNUMBER']

In [10]:
leave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,dos_trpID_stpID_prgNum
0,2018-04-29,6664022,21,1169,64288,2018-04-29-6664022-1169-21
1,2018-04-29,6652825,21,1169,53367,2018-04-29-6652825-1169-21
2,2018-04-29,6652821,21,1169,39794,2018-04-29-6652821-1169-21
3,2018-04-29,6652827,22,1170,60602,2018-04-29-6652827-1170-22
4,2018-04-29,6656085,22,1170,71882,2018-04-29-6656085-1170-22

## Drop Columns

In [11]:
leave = leave.drop(['DAYOFSERVICE', 'TRIPID', 'STOPPOINTID', 'PROGRNUMBER'], axis=1)

In [12]:
leave.head()

   ACTUALTIME_ARR      dos_trpID_stpID_prgNum
0           64288  2018-04-29-6664022-1169-21
1           53367  2018-04-29-6652825-1169-21
2           39794  2018-04-29-6652821-1169-21
3           60602  2018-04-29-6652827-1170-22
4           71882  2018-04-29-6656085-1170-22

In [13]:
fcol = leave.pop('dos_trpID_stpID_prgNum')

In [14]:
leave.insert(0, 'dos_trpID_stpID_prgNum', fcol)

In [15]:
leave.head()

       dos_trpID_stpID_prgNum  ACTUALTIME_ARR
0  2018-04-29-6664022-1169-21           64288
1  2018-04-29-6652825-1169-21           53367
2  2018-04-29-6652821-1169-21           39794
3  2018-04-29-6652827-1170-22           60602
4  2018-04-29-6656085-1170-22           71882

## Send to CSV

In [16]:
# Send leave3 to csv:
leave.to_csv('v8b_leave3.csv', index=False)