In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
leave = pd.read_csv('v8a_leave6.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
leave.shape

(19491518, 5)

In [4]:
leave.head()

  DAYOFSERVICE   TRIPID  PROGRNUMBER  STOPPOINTID  ACTUALTIME_ARR
0   2018-10-30  8074897           16         7668           55274
1   2018-10-30  8074897           17         2793           55312
2   2018-10-30  8074897           19         1077           55681
3   2018-10-30  8074897           20         2479           55740
4   2018-10-30  8074897           21         2480           55784

## Create ID

In [5]:
leave['DAYOFSERVICE'] = leave['DAYOFSERVICE'].astype('string')

In [6]:
leave['TRIPID'] = leave['TRIPID'].astype('string')

In [7]:
leave['PROGRNUMBER'] = leave['PROGRNUMBER'].astype('string')

In [8]:
leave['STOPPOINTID'] = leave['STOPPOINTID'].astype('string')

In [9]:
leave['dos_trpID_stpID_prgNum'] = leave['DAYOFSERVICE'] + '-' + leave['TRIPID'] + '-' + leave['STOPPOINTID'] + '-' + leave['PROGRNUMBER']

In [10]:
leave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,dos_trpID_stpID_prgNum
0,2018-10-30,8074897,16,7668,55274,2018-10-30-8074897-7668-16
1,2018-10-30,8074897,17,2793,55312,2018-10-30-8074897-2793-17
2,2018-10-30,8074897,19,1077,55681,2018-10-30-8074897-1077-19
3,2018-10-30,8074897,20,2479,55740,2018-10-30-8074897-2479-20
4,2018-10-30,8074897,21,2480,55784,2018-10-30-8074897-2480-21

## Drop Columns

In [11]:
leave = leave.drop(['DAYOFSERVICE', 'TRIPID', 'STOPPOINTID', 'PROGRNUMBER'], axis=1)

In [12]:
leave.head()

   ACTUALTIME_ARR      dos_trpID_stpID_prgNum
0           55274  2018-10-30-8074897-7668-16
1           55312  2018-10-30-8074897-2793-17
2           55681  2018-10-30-8074897-1077-19
3           55740  2018-10-30-8074897-2479-20
4           55784  2018-10-30-8074897-2480-21

In [13]:
fcol = leave.pop('dos_trpID_stpID_prgNum')

In [14]:
leave.insert(0, 'dos_trpID_stpID_prgNum', fcol)

In [15]:
leave.head()

       dos_trpID_stpID_prgNum  ACTUALTIME_ARR
0  2018-10-30-8074897-7668-16           55274
1  2018-10-30-8074897-2793-17           55312
2  2018-10-30-8074897-1077-19           55681
3  2018-10-30-8074897-2479-20           55740
4  2018-10-30-8074897-2480-21           55784

## Send to CSV

In [16]:
# Send leave6 to csv:
leave.to_csv('v8b_leave6.csv', index=False)