In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [3]:
leave = pd.read_csv('v8a_leave1.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [5]:
leave.shape

(19491519, 5)

In [6]:
leave.head()

  DAYOFSERVICE   TRIPID  PROGRNUMBER  STOPPOINTID  ACTUALTIME_ARR
0   2018-01-01  5972116           12          119           48012
1   2018-01-01  5966674           12          119           54023
2   2018-01-01  5959105           12          119           59955
3   2018-01-01  5966888           12          119           58771
4   2018-01-01  5965960           12          119           56309

## Create ID

In [8]:
leave['DAYOFSERVICE'] = leave['DAYOFSERVICE'].astype('string')

In [9]:
leave['TRIPID'] = leave['TRIPID'].astype('string')

In [10]:
leave['PROGRNUMBER'] = leave['PROGRNUMBER'].astype('string')

In [11]:
leave['STOPPOINTID'] = leave['STOPPOINTID'].astype('string')

In [12]:
leave['dos_trpID_stpID_prgNum'] = leave['DAYOFSERVICE'] + '-' + leave['TRIPID'] + '-' + leave['STOPPOINTID'] + '-' + leave['PROGRNUMBER']

In [13]:
leave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,dos_trpID_stpID_prgNum
0,2018-01-01,5972116,12,119,48012,2018-01-01-5972116-119-12
1,2018-01-01,5966674,12,119,54023,2018-01-01-5966674-119-12
2,2018-01-01,5959105,12,119,59955,2018-01-01-5959105-119-12
3,2018-01-01,5966888,12,119,58771,2018-01-01-5966888-119-12
4,2018-01-01,5965960,12,119,56309,2018-01-01-5965960-119-12

## Drop Columns

In [16]:
leave = leave.drop(['DAYOFSERVICE', 'TRIPID', 'STOPPOINTID', 'PROGRNUMBER'], axis=1)

In [17]:
leave.head()

   ACTUALTIME_ARR     dos_trpID_stpID_prgNum
0           48012  2018-01-01-5972116-119-12
1           54023  2018-01-01-5966674-119-12
2           59955  2018-01-01-5959105-119-12
3           58771  2018-01-01-5966888-119-12
4           56309  2018-01-01-5965960-119-12

In [18]:
fcol = leave.pop('dos_trpID_stpID_prgNum')

In [19]:
leave.insert(0, 'dos_trpID_stpID_prgNum', fcol)

In [20]:
leave.head()

      dos_trpID_stpID_prgNum  ACTUALTIME_ARR
0  2018-01-01-5972116-119-12           48012
1  2018-01-01-5966674-119-12           54023
2  2018-01-01-5959105-119-12           59955
3  2018-01-01-5966888-119-12           58771
4  2018-01-01-5965960-119-12           56309

## Send to CSV

In [22]:
# Send leave1 to csv:
leave.to_csv('v8b_leave1.csv', index=False)