In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [2]:
leave = pd.read_csv('v8a_leave5.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [3]:
leave.shape

(19491519, 5)

In [4]:
leave.head()

  DAYOFSERVICE   TRIPID  PROGRNUMBER  STOPPOINTID  ACTUALTIME_ARR
0   2018-08-30  7499553           33         7582           51878
1   2018-08-30  7500611           33         7582           46799
2   2018-08-30  7502050           33         7582           66461
3   2018-08-30  7499519           33         7582           65178
4   2018-08-30  7500774           33         7582           63909

## Create ID

In [5]:
leave['DAYOFSERVICE'] = leave['DAYOFSERVICE'].astype('string')

In [6]:
leave['TRIPID'] = leave['TRIPID'].astype('string')

In [7]:
leave['PROGRNUMBER'] = leave['PROGRNUMBER'].astype('string')

In [8]:
leave['STOPPOINTID'] = leave['STOPPOINTID'].astype('string')

In [9]:
leave['dos_trpID_stpID_prgNum'] = leave['DAYOFSERVICE'] + '-' + leave['TRIPID'] + '-' + leave['STOPPOINTID'] + '-' + leave['PROGRNUMBER']

In [10]:
leave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,ACTUALTIME_ARR,dos_trpID_stpID_prgNum
0,2018-08-30,7499553,33,7582,51878,2018-08-30-7499553-7582-33
1,2018-08-30,7500611,33,7582,46799,2018-08-30-7500611-7582-33
2,2018-08-30,7502050,33,7582,66461,2018-08-30-7502050-7582-33
3,2018-08-30,7499519,33,7582,65178,2018-08-30-7499519-7582-33
4,2018-08-30,7500774,33,7582,63909,2018-08-30-7500774-7582-33

## Drop Columns

In [11]:
leave = leave.drop(['DAYOFSERVICE', 'TRIPID', 'STOPPOINTID', 'PROGRNUMBER'], axis=1)

In [12]:
leave.head()

   ACTUALTIME_ARR      dos_trpID_stpID_prgNum
0           51878  2018-08-30-7499553-7582-33
1           46799  2018-08-30-7500611-7582-33
2           66461  2018-08-30-7502050-7582-33
3           65178  2018-08-30-7499519-7582-33
4           63909  2018-08-30-7500774-7582-33

In [13]:
fcol = leave.pop('dos_trpID_stpID_prgNum')

In [14]:
leave.insert(0, 'dos_trpID_stpID_prgNum', fcol)

In [15]:
leave.head()

       dos_trpID_stpID_prgNum  ACTUALTIME_ARR
0  2018-08-30-7499553-7582-33           51878
1  2018-08-30-7500611-7582-33           46799
2  2018-08-30-7502050-7582-33           66461
3  2018-08-30-7499519-7582-33           65178
4  2018-08-30-7500774-7582-33           63909

## Send to CSV

In [16]:
# Send leave5 to csv:
leave.to_csv('v8b_leave5.csv', index=False)