In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [44]:
rt = pd.read_csv('v7_route_9.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [45]:
rt.shape

(2681064, 28)

In [46]:
rt.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,PLANNEDTIME_DEP,ACTUALTIME_ARR,ACTUALTIME_DEP,VEHICLEID,year,...,dayOfWeek,weekend,rushHour,stop_actARR_hour,wthr_tr_lt_id,temp,humidity,wind_speed,weather_id,weather_description
0,2018-01-01,5957793,1,7132,32400,32400,32400,32400,2172314,2018,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
1,2018-01-01,5957793,2,6230,32470,32470,32470,32470,2172314,2018,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
2,2018-01-01,5957793,3,6228,32513,32513,32513,32513,2172314,2018,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
3,2018-01-01,5957793,4,4788,32569,32569,32569,32569,2172314,2018,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
4,2018-01-01,5957793,5,6273,32615,32615,32615,32615,2172314,2018,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds

In [47]:
rt = rt.drop(['PLANNEDTIME_DEP', 'ACTUALTIME_ARR', 'ACTUALTIME_DEP'], axis=1)

In [48]:
rt.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,dayOfWeek,weekend,rushHour,stop_actARR_hour,wthr_tr_lt_id,temp,humidity,wind_speed,weather_id,weather_description
0,2018-01-01,5957793,1,7132,32400,2172314,2018,1,1,20180101595779301,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
1,2018-01-01,5957793,2,6230,32470,2172314,2018,1,1,20180101595779302,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
2,2018-01-01,5957793,3,6228,32513,2172314,2018,1,1,20180101595779303,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
3,2018-01-01,5957793,4,4788,32569,2172314,2018,1,1,20180101595779304,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds
4,2018-01-01,5957793,5,6273,32615,2172314,2018,1,1,20180101595779305,...,0,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds

## Create ID

In [49]:
rt['str_dos'] = rt['DAYOFSERVICE'].astype('string')

In [50]:
rt['str_trp'] = rt['TRIPID'].astype('string')

In [51]:
rt['str_prog'] = rt['PROGRNUMBER'].astype('string')

In [52]:
rt['str_stp'] = rt['STOPPOINTID'].astype('string')

In [53]:
rt['dos_trpID_stpID_prgNum'] = rt['str_dos'] + '-' + rt['str_trp'] + '-' + rt['str_stp'] + '-' + rt['str_prog']

In [54]:
rt.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,temp,humidity,wind_speed,weather_id,weather_description,str_dos,str_trp,str_prog,str_stp,dos_trpID_stpID_prgNum
0,2018-01-01,5957793,1,7132,32400,2172314,2018,1,1,20180101595779301,...,4.39,86,7.7,802,scattered clouds,2018-01-01,5957793,1,7132,2018-01-01-5957793-7132-1
1,2018-01-01,5957793,2,6230,32470,2172314,2018,1,1,20180101595779302,...,4.39,86,7.7,802,scattered clouds,2018-01-01,5957793,2,6230,2018-01-01-5957793-6230-2
2,2018-01-01,5957793,3,6228,32513,2172314,2018,1,1,20180101595779303,...,4.39,86,7.7,802,scattered clouds,2018-01-01,5957793,3,6228,2018-01-01-5957793-6228-3
3,2018-01-01,5957793,4,4788,32569,2172314,2018,1,1,20180101595779304,...,4.39,86,7.7,802,scattered clouds,2018-01-01,5957793,4,4788,2018-01-01-5957793-4788-4
4,2018-01-01,5957793,5,6273,32615,2172314,2018,1,1,20180101595779305,...,4.39,86,7.7,802,scattered clouds,2018-01-01,5957793,5,6273,2018-01-01-5957793-6273-5

## Drop Columns

In [55]:
rt = rt.drop(['str_dos', 'str_trp', 'str_stp', 'str_prog'], axis=1)

In [56]:
rt.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,weekend,rushHour,stop_actARR_hour,wthr_tr_lt_id,temp,humidity,wind_speed,weather_id,weather_description,dos_trpID_stpID_prgNum
0,2018-01-01,5957793,1,7132,32400,2172314,2018,1,1,20180101595779301,...,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-7132-1
1,2018-01-01,5957793,2,6230,32470,2172314,2018,1,1,20180101595779302,...,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-6230-2
2,2018-01-01,5957793,3,6228,32513,2172314,2018,1,1,20180101595779303,...,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-6228-3
3,2018-01-01,5957793,4,4788,32569,2172314,2018,1,1,20180101595779304,...,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-4788-4
4,2018-01-01,5957793,5,6273,32615,2172314,2018,1,1,20180101595779305,...,0,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-6273-5

## Send to CSV

In [57]:
# Send route to csv:
rt.to_csv('v8c_route_9.csv', index=False)