In [1]:
# Library Imports.
import pandas as pd

import numpy as np

In [88]:
rt = pd.read_csv('v8c_route_9.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [89]:
rt.shape

(2681064, 26)

In [ ]:
rt.head()

## Leave 1

In [90]:
leave = pd.read_csv('v8b_leave1.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [91]:
leave.shape

(19491519, 2)

In [ ]:
leave.head()

## Rename Column

In [92]:
leave.rename(columns = {'ACTUALTIME_ARR':'act_stp_arr_1'}, inplace = True)

In [ ]:
leave.head()

## Merge Leave1

In [93]:
rtleave = pd.merge(rt, leave, how="left", on=["dos_trpID_stpID_prgNum"])

In [94]:
rtleave.shape

(2681064, 27)

In [ ]:
rtleave.head()

In [ ]:
rtleave.isnull().sum()

## Leave 2

In [95]:
leave = pd.read_csv('v8b_leave2.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [96]:
leave.shape

(19491519, 2)

In [ ]:
leave.head()

## Rename Column

In [97]:
leave.rename(columns = {'ACTUALTIME_ARR':'act_stp_arr_2'}, inplace = True)

In [ ]:
leave.head()

## Merge Leave2

In [98]:
rtleave = pd.merge(rtleave, leave, how="left", on=["dos_trpID_stpID_prgNum"])

In [99]:
rtleave.shape

(2681064, 28)

In [ ]:
rtleave.head()

In [ ]:
rtleave.isnull().sum()

## Leave 3

In [100]:
leave = pd.read_csv('v8b_leave3.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [101]:
leave.shape

(19491519, 2)

In [ ]:
leave.head()

## Rename Column

In [102]:
leave.rename(columns = {'ACTUALTIME_ARR':'act_stp_arr_3'}, inplace = True)

In [ ]:
leave.head()

## Merge Leave 3

In [103]:
rtleave = pd.merge(rtleave, leave, how="left", on=["dos_trpID_stpID_prgNum"])

In [104]:
rtleave.shape

(2681064, 29)

In [ ]:
rtleave.head()

In [ ]:
rtleave.isnull().sum()

## Leave 4

In [105]:
leave = pd.read_csv('v8b_leave4.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [106]:
leave.shape

(19491519, 2)

In [ ]:
leave.head()

## Rename Column

In [107]:
leave.rename(columns = {'ACTUALTIME_ARR':'act_stp_arr_4'}, inplace = True)

In [ ]:
leave.head()

## Merge Leave 4

In [108]:
rtleave = pd.merge(rtleave, leave, how="left", on=["dos_trpID_stpID_prgNum"])

In [109]:
rtleave.shape

(2681064, 30)

In [ ]:
rtleave.head()

In [ ]:
rtleave.isnull().sum()

## Leave 5

In [110]:
leave = pd.read_csv('v8b_leave5.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [111]:
leave.shape

(19491519, 2)

In [ ]:
leave.head()

## Rename Column

In [112]:
leave.rename(columns = {'ACTUALTIME_ARR':'act_stp_arr_5'}, inplace = True)

In [ ]:
leave.head()

## Merge Leave 5

In [113]:
rtleave = pd.merge(rtleave, leave, how="left", on=["dos_trpID_stpID_prgNum"])

In [114]:
rtleave.shape

(2681064, 31)

In [ ]:
rtleave.head()

In [ ]:
rtleave.isnull().sum()

## Leave 6

In [115]:
leave = pd.read_csv('v8b_leave6.csv', keep_default_na=True, delimiter=',', skipinitialspace=True)

In [116]:
leave.shape

(19491518, 2)

In [ ]:
leave.head()

## Rename Column

In [117]:
leave.rename(columns = {'ACTUALTIME_ARR':'act_stp_arr_6'}, inplace = True)

In [ ]:
leave.head()

## Merge Leave 6

In [118]:
rtleave = pd.merge(rtleave, leave, how="left", on=["dos_trpID_stpID_prgNum"])

In [119]:
rtleave.shape

(2681064, 32)

In [120]:
rtleave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,wind_speed,weather_id,weather_description,dos_trpID_stpID_prgNum,act_stp_arr_1,act_stp_arr_2,act_stp_arr_3,act_stp_arr_4,act_stp_arr_5,act_stp_arr_6
0,2018-01-01,5957793,1,7132,32400,2172314,2018,1,1,20180101595779301,...,7.7,802,scattered clouds,2018-01-01-5957793-7132-1,32608.0,NaN,NaN,NaN,NaN,NaN
1,2018-01-01,5957793,2,6230,32470,2172314,2018,1,1,20180101595779302,...,7.7,802,scattered clouds,2018-01-01-5957793-6230-2,32672.0,NaN,NaN,NaN,NaN,NaN
2,2018-01-01,5957793,3,6228,32513,2172314,2018,1,1,20180101595779303,...,7.7,802,scattered clouds,2018-01-01-5957793-6228-3,32696.0,NaN,NaN,NaN,NaN,NaN
3,2018-01-01,5957793,4,4788,32569,2172314,2018,1,1,20180101595779304,...,7.7,802,scattered clouds,2018-01-01-5957793-4788-4,32744.0,NaN,NaN,NaN,NaN,NaN
4,2018-01-01,5957793,5,6273,32615,2172314,2018,1,1,20180101595779305,...,7.7,802,scattered clouds,2018-01-01-5957793-6273-5,32803.0,NaN,NaN,NaN,NaN,NaN

In [121]:
rtleave.isnull().sum()

DAYOFSERVICE                    0
TRIPID                          0
PROGRNUMBER                     0
STOPPOINTID                     0
PLANNEDTIME_ARR                 0
VEHICLEID                       0
year                            0
month                           0
day                             0
id                              0
trip_leave_id                   0
LINEID                          0
num_lineID                      0
DIRECTION                       0
act_trip_dur                    0
dayOfWeek                       0
weekend                         0
rushHour                        0
stop_actARR_hour                0
wthr_tr_lt_id                   0
temp                            0
humidity                        0
wind_speed                      0
weather_id                      0
weather_description             0
dos_trpID_stpID_prgNum          0
act_stp_arr_1             2236708
act_stp_arr_2             2232396
act_stp_arr_3             2232130
act_stp_arr_4             2256301
act_stp_arr_5             2229222
act_stp_arr_6             2218563
dtype: int64

## Replace Nans with Zero

In [122]:
rtleave = rtleave.fillna(0)

In [123]:
rtleave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,wind_speed,weather_id,weather_description,dos_trpID_stpID_prgNum,act_stp_arr_1,act_stp_arr_2,act_stp_arr_3,act_stp_arr_4,act_stp_arr_5,act_stp_arr_6
0,2018-01-01,5957793,1,7132,32400,2172314,2018,1,1,20180101595779301,...,7.7,802,scattered clouds,2018-01-01-5957793-7132-1,32608.0,0.0,0.0,0.0,0.0,0.0
1,2018-01-01,5957793,2,6230,32470,2172314,2018,1,1,20180101595779302,...,7.7,802,scattered clouds,2018-01-01-5957793-6230-2,32672.0,0.0,0.0,0.0,0.0,0.0
2,2018-01-01,5957793,3,6228,32513,2172314,2018,1,1,20180101595779303,...,7.7,802,scattered clouds,2018-01-01-5957793-6228-3,32696.0,0.0,0.0,0.0,0.0,0.0
3,2018-01-01,5957793,4,4788,32569,2172314,2018,1,1,20180101595779304,...,7.7,802,scattered clouds,2018-01-01-5957793-4788-4,32744.0,0.0,0.0,0.0,0.0,0.0
4,2018-01-01,5957793,5,6273,32615,2172314,2018,1,1,20180101595779305,...,7.7,802,scattered clouds,2018-01-01-5957793-6273-5,32803.0,0.0,0.0,0.0,0.0,0.0

## Sum Working Columns

In [124]:
rtleave['act_stp_arr'] = rtleave['act_stp_arr_1'] + rtleave['act_stp_arr_2'] + rtleave['act_stp_arr_3'] + rtleave['act_stp_arr_4'] + rtleave['act_stp_arr_5'] + rtleave['act_stp_arr_6']

In [125]:
rtleave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,weather_id,weather_description,dos_trpID_stpID_prgNum,act_stp_arr_1,act_stp_arr_2,act_stp_arr_3,act_stp_arr_4,act_stp_arr_5,act_stp_arr_6,act_stp_arr
0,2018-01-01,5957793,1,7132,32400,2172314,2018,1,1,20180101595779301,...,802,scattered clouds,2018-01-01-5957793-7132-1,32608.0,0.0,0.0,0.0,0.0,0.0,32608.0
1,2018-01-01,5957793,2,6230,32470,2172314,2018,1,1,20180101595779302,...,802,scattered clouds,2018-01-01-5957793-6230-2,32672.0,0.0,0.0,0.0,0.0,0.0,32672.0
2,2018-01-01,5957793,3,6228,32513,2172314,2018,1,1,20180101595779303,...,802,scattered clouds,2018-01-01-5957793-6228-3,32696.0,0.0,0.0,0.0,0.0,0.0,32696.0
3,2018-01-01,5957793,4,4788,32569,2172314,2018,1,1,20180101595779304,...,802,scattered clouds,2018-01-01-5957793-4788-4,32744.0,0.0,0.0,0.0,0.0,0.0,32744.0
4,2018-01-01,5957793,5,6273,32615,2172314,2018,1,1,20180101595779305,...,802,scattered clouds,2018-01-01-5957793-6273-5,32803.0,0.0,0.0,0.0,0.0,0.0,32803.0

In [126]:
rtleave.isnull().sum()

DAYOFSERVICE              0
TRIPID                    0
PROGRNUMBER               0
STOPPOINTID               0
PLANNEDTIME_ARR           0
VEHICLEID                 0
year                      0
month                     0
day                       0
id                        0
trip_leave_id             0
LINEID                    0
num_lineID                0
DIRECTION                 0
act_trip_dur              0
dayOfWeek                 0
weekend                   0
rushHour                  0
stop_actARR_hour          0
wthr_tr_lt_id             0
temp                      0
humidity                  0
wind_speed                0
weather_id                0
weather_description       0
dos_trpID_stpID_prgNum    0
act_stp_arr_1             0
act_stp_arr_2             0
act_stp_arr_3             0
act_stp_arr_4             0
act_stp_arr_5             0
act_stp_arr_6             0
act_stp_arr               0
dtype: int64

In [127]:
check = rtleave[rtleave['act_stp_arr'] < 1]
check.shape

(0, 33)

## Drop Columns

In [128]:
rtleave = rtleave.drop(['act_stp_arr_1', 'act_stp_arr_2', 'act_stp_arr_3', 'act_stp_arr_4', 'act_stp_arr_5', 'act_stp_arr_6'], axis=1)

In [129]:
rtleave.head()

,DAYOFSERVICE,TRIPID,PROGRNUMBER,STOPPOINTID,PLANNEDTIME_ARR,VEHICLEID,year,month,day,id,...,rushHour,stop_actARR_hour,wthr_tr_lt_id,temp,humidity,wind_speed,weather_id,weather_description,dos_trpID_stpID_prgNum,act_stp_arr
0,2018-01-01,5957793,1,7132,32400,2172314,2018,1,1,20180101595779301,...,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-7132-1,32608.0
1,2018-01-01,5957793,2,6230,32470,2172314,2018,1,1,20180101595779302,...,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-6230-2,32672.0
2,2018-01-01,5957793,3,6228,32513,2172314,2018,1,1,20180101595779303,...,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-6228-3,32696.0
3,2018-01-01,5957793,4,4788,32569,2172314,2018,1,1,20180101595779304,...,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-4788-4,32744.0
4,2018-01-01,5957793,5,6273,32615,2172314,2018,1,1,20180101595779305,...,0,9,2018010109,4.39,86,7.7,802,scattered clouds,2018-01-01-5957793-6273-5,32803.0

## Send to CSV

In [130]:
# Send route to csv:
rtleave.to_csv('models/v9_route_9.csv', index=False)